<div class="docs-sources-list">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h3>
        <span>All Docs Sources</span>
      </h3>
      <span flex></span>
      <md-button
        aria-label="Add new docs source"
        ui-sref="docs-sources.new">
        <md-icon>add_box</md-icon>
        New
      </md-button>
    </div>
  </md-toolbar>

  <loading-indicator loading="$ctrl.loading"></loading-indicator>

  <md-content>

    <div layout="column" layout-align="center center" layout-padding>
      <p class="md-body-1" md-colors="{background: 'orange-50', color: 'orange'}"
      layout-padding>
        <span><strong>Important:</strong></span>
        <br />
        <span>
          - All indexed content from these sources will be visible to all logged in users of the hub (through the help search).
        </span>
        <br />
        <span>
          - Sources are not currently synced automatically - you need to trigger a sync using the options below whenever sources are added, or content is added/updated/deleted from the sources.
        </span>
      </p>

      <div>
        <md-button
          class="md-primary md-raised"
          ng-disabled="!$ctrl.FeatureFlags.isEnabled($ctrl.featureFlagKeys.docsSync)"
          ng-click="$ctrl.triggerSyncAll()"
          aria-label="Trigger a sync job to sync all docs sources">
          Trigger sync all
        </md-button>
      </div>
    </div>

    <md-card ng-repeat="s in $ctrl.sources track by s.id">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">
            {{s.name}}

            <small
              class="badge float-right"
              md-colors="{background: 'blue'}">
              {{$ctrl.DocsSources.kinds[s.kind]}}
            </small>
          </span>
        </md-card-title-text>
      </md-card-title>

      <md-card-content>
        <p class="md-body-1" md-colors="{color: 'blue-grey-700'}">
          Source config:
        </p>
        <pre>{{s.config | json}}</pre>

        <p class="md-body-1">
          <span md-colors="{color: 'blue-grey-700'}">
            Currently fetching?
          </span>
          {{s.is_fetching}}
        </p>

        <p class="md-body-1">
          <span md-colors="{color: 'blue-grey-700'}">
            Last fetch status:
          </span>
          <span ng-if="s.last_fetch_started_at">
            {{s.last_fetch_status}}
          </span>
          <span ng-if="!s.last_fetch_status" class="none-text">
            unknown
          </span>
          <span class="separator">|</span>
          <span md-colors="{color: 'blue-grey-700'}">
            Last fetch started at:
          </span>
          <span ng-if="s.last_fetch_started_at">
            {{s.last_fetch_started_at | date:'EEE MMM d y HH:mm UTC':'UTC'}}
          </span>
          <span ng-if="!s.last_fetch_started_at" class="none-text">
            not fetched yet
          </span>
        </p>

        <p class="md-body-1">
          <span md-colors="{color: 'blue-grey-700'}">
            Last <strong>successful</strong> fetch started at:
          </span>
          <span ng-if="s.last_successful_fetch_started_at">
            {{s.last_successful_fetch_started_at | date:'EEE MMM d y HH:mm UTC':'UTC'}}
          </span>
          <span ng-if="!s.last_successful_fetch_started_at" class="none-text">
            none
          </span>
        </p>
      </md-card-content>

      <md-card-actions layout="row" layout-align="start center">
        <md-button
          class="md-primary"
          aria-label="View details of this docs source"
          ui-sref="docs-sources.detail({id: s.id})">
          Details
        </md-button>
        <md-button
          ng-disabled="!$ctrl.FeatureFlags.isEnabled($ctrl.featureFlagKeys.docsSync)"
          ng-click="$ctrl.triggerSync(s)"
          aria-label="Trigger a sync job for this particular docs source">
          Trigger sync
        </md-button>
      </md-card-actions>
    </md-card>

  </md-content>
</div>
