<div class="docs-sources-detail">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h3>
        <span>Docs Source: </span>
        <span ng-cloak>{{$ctrl.source.name}}</span>
      </h3>
      <span flex></span>
      <md-button
        ng-if="$ctrl.source"
        aria-label="Edit this docs source"
        ui-sref="docs-sources.edit({id: $ctrl.source.id})">
        <md-icon>edit</md-icon>
        Edit
      </md-button>
      <md-button
        ng-if="$ctrl.source"
        aria-label="Delete this docs source"
        ng-click="$ctrl.deleteSource($event)">
        <md-icon>delete</md-icon>
        Delete
      </md-button>
    </div>
  </md-toolbar>

  <loading-indicator loading="$ctrl.loading"></loading-indicator>

  <md-content>
    <md-tabs
      ng-if="!$ctrl.loading && $ctrl.source"
      md-dynamic-height
      md-border-bottom>

      <md-tab id="overview-tab">
        <md-tab-label>Overview</md-tab-label>
        <md-tab-body>
          <div layout="padding">
            <div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50">
              <md-content layout-padding>
                <h3 class="md-title" layout="row">
                  {{$ctrl.source.name}}

                  <span
                    class="badge float-right"
                    md-colors="{background: 'blue'}">
                    {{$ctrl.DocsSources.kinds[$ctrl.source.kind]}}
                  </span>
                </h3>

                <h4>
                  Source config
                </h4>

                <pre>{{$ctrl.source.config | json}}</pre>

                <h4>Fetch status</h4>

                <p class="md-body-1">
                  <span md-colors="{color: 'blue-grey-700'}">
                    Currently fetching?
                  </span>
                  {{$ctrl.source.is_fetching}}
                </p>

                <p class="md-body-1">
                  <span md-colors="{color: 'blue-grey-700'}">
                    Last fetch status:
                  </span>
                  <span ng-if="$ctrl.source.last_fetch_started_at">
                    {{$ctrl.source.last_fetch_status}}
                  </span>
                  <span ng-if="!$ctrl.source.last_fetch_status" class="none-text">
                    unknown
                  </span>
                </p>

                <p class="md-body-1">
                  <span md-colors="{color: 'blue-grey-700'}">
                    Last fetch started at:
                  </span>
                  <span ng-if="$ctrl.source.last_fetch_started_at">
                    {{$ctrl.source.last_fetch_started_at | date:'EEE MMM d y HH:mm UTC':'UTC'}}
                  </span>
                  <span ng-if="!$ctrl.source.last_fetch_started_at" class="none-text">
                    not fetched yet
                  </span>
                </p>

                <p
                  class="md-body-1"
                  ng-if="$ctrl.source.last_fetch_error"
                  md-colors="{color: 'blue-grey-700'}">
                  Last fetch error
                </p>
                <pre ng-if="$ctrl.source.last_fetch_error">{{$ctrl.source.last_fetch_error}}</pre>

                <p class="md-body-1">
                  <span md-colors="{color: 'blue-grey-700'}">
                    Last <strong>successful</strong> fetch started at:
                  </span>
                  <span ng-if="$ctrl.source.last_successful_fetch_started_at">
                    {{$ctrl.source.last_successful_fetch_started_at | date:'EEE MMM d y HH:mm UTC':'UTC'}}
                  </span>
                  <span ng-if="!$ctrl.source.last_successful_fetch_started_at" class="none-text">
                    none
                  </span>
                </p>

                <p
                  class="md-body-1"
                  ng-if="$ctrl.source.last_successful_fetch_metadata"
                  md-colors="{color: 'blue-grey-700'}">
                  Last <strong>successful</strong> fetch metadata:
                </p>
                <pre ng-if="$ctrl.source.last_successful_fetch_metadata">{{$ctrl.source.last_successful_fetch_metadata | json}}</pre>
              </md-content>
            </div>
          </div>
        </md-tab-body>
      </md-tab>

      <md-tab id="entries-tab" md-on-select="$ctrl.loadEntries()">
        <md-tab-label>
          Entries
          <span ng-if="$ctrl.entries.length > 0">
            ({{$ctrl.entries.length}})
          </span>
        </md-tab-label>
        <md-tab-body>
          <loading-indicator loading="$ctrl.loadingEntries"></loading-indicator>

          <div ng-if="$ctrl.entries.length == 0" layout-padding>
            <p class="md-body-1 none-text text-center">
              No entries found yet, or docs source has not been synced yet.
            </p>
          </div>

          <md-list ng-if="$ctrl.entries.length > 0" flex>
            <md-list-item class="md-3-line md-long-text" ng-repeat="e in $ctrl.entries track by e.content_id">
              <div class="md-list-item-text" layout="column">
                <h3>{{e.content_id}}</h3>
                <h4>{{e.content_url}}</h4>
                <p>{{e.metadata}}</p>
              </div>
            </md-list-item>
          </md-list>
        </md-tab-body>
      </md-tab>

    </md-tabs>
  </md-content>
</div>
