<div class="platform-themes-editor-form">
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <h3>
        <span ng-if="$ctrl.isNew">New Platform Theme</span>
        <span ng-if="!$ctrl.isNew">Edit Platform Theme</span>
      </h3>
    </div>
  </md-toolbar>

  <loading-indicator loading="$ctrl.loading || $ctrl.saving"></loading-indicator>

  <md-content layout-padding ng-if="!$ctrl.loading">

    <div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="md-whiteframe-z2" layout-padding>
      <md-content>
        <form name="$ctrl.themeForm" role="form" ng-submit="$ctrl.createOrUpdate()">

          <md-input-container class="md-block">
            <label for="title">Title:</label>
            <input
              name="title"
              ng-model="$ctrl.theme.title"
              required
              placeholder="A short title for this theme – e.g. 'Deploy'"
              aria-label="Set a title for this platform theme">
            <div ng-messages="$ctrl.themeForm.title.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <label for="description">Description:</label>
            <textarea
              name="description"
              ng-model="$ctrl.theme.description"
              rows="4"
              required
              aria-label="Set a description for this platform theme"
              md-select-on-focus>
            </textarea>
            <div ng-messages="$ctrl.themeForm.description.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <label for="image_url">Image URL:</label>
            <input
              type="url"
              name="image_url"
              ng-model="$ctrl.theme.image_url"
              required
              aria-label="Set an image URL for this platform theme">
            <div ng-messages="$ctrl.themeForm.image_url.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="url">Not a valid URL.</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <label for="colour">Colour:</label>
            <md-select
              name="colour"
              ng-model="$ctrl.theme.colour"
              md-colors="{background: '{{$ctrl.theme.colour}}'}"
              aria-label="Set a colour for this platform theme">
              <md-option
                ng-repeat="c in $ctrl.colours"
                md-colors="{background: '{{c}}'}"
                md-colors-watch="false"
                ng-value="c">
                {{c}}
              </md-option>
            </md-select>
          </md-input-container>

          <br />

          <div>

            <label class="md-body-2">
              Resources
              ({{$ctrl.theme.resources.length}})
            </label>

            <p class="none-text" ng-if="$ctrl.theme.resources.length == 0">
              No resources specified yet – why not add one?
            </p>

            <md-card ng-repeat="resource in $ctrl.theme.resources">
              <md-card-content>

                <div layout="row" flex>
                  <md-input-container class="md-block md-icon-float" flex>
                    <label>Type of resource:</label>
                    <md-select
                      ng-model="resource.kind"
                      ng-change="$ctrl.handleResourceKindChange($index)"
                      required>
                      <md-option
                        ng-repeat="k in $ctrl.resourceKinds"
                        ng-value="k.kind">
                        {{k.name}}
                      </md-option>
                    </md-select>
                  </md-input-container>
                  <md-button
                    class="md-icon-button input-button-end"
                    aria-label="Remove this resource"
                    ng-click="$ctrl.removeResource($index)">
                    <md-icon md-colors="{color: 'accent'}">delete</md-icon>
                    <md-tooltip md-direction="bottom">
                      Remove this resource
                    </md-tooltip>
                  </md-button>
                </div>

                <fieldset layout-padding>
                  <legend>Visibility</legend>

                  <div>
                    <md-checkbox
                      name="resource{{$index}}-visible"
                      ng-model="resource.visible"
                      aria-label="Is this resource visible in the app?">
                      Visible?
                    </md-checkbox>

                    <md-input-container class="md-block" flex>
                      <label>User scope (optional):</label>
                      <md-select
                        ng-model="resource.user_scope">
                        <md-option ng-value="undefined"></md-option>
                        <md-option
                          ng-repeat="s in $ctrl.userScopes"
                          ng-value="s.value">
                          {{s.name}}
                        </md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                </fieldset>

                <br />

                <md-input-container class="md-block" flex>
                  <label for="resource{{$index}}-title">Title:</label>
                  <input
                    name="resource{{$index}}-title"
                    ng-model="resource.title"
                    placeholder="e.g. Getting started guide"
                    required>
                  <div ng-messages="$ctrl.themeForm['resource' + $index + '-title'].$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>

                <md-input-container class="md-block" flex>
                  <label for="resource{{$index}}-description">Short description (optional):</label>
                  <textarea
                    name="resource{{$index}}-description"
                    ng-model="resource.description"
                    rows="2"
                    md-select-on-focus>
                  </textarea>
                </md-input-container>

                <platform-themes-resource-kind-fields
                  ng-if="resource.kind"
                  index="$index"
                  resource="resource"
                  form="$ctrl.themeForm">
                </platform-themes-resource-kind-fields>

              </md-card-content>

              <md-card-actions layout="row" layout-align="end center">
                <md-button
                  ng-disabled="$index == ($ctrl.theme.resources.length - 1) || $ctrl.theme.resources.length == 1"
                  ng-click="$ctrl.moveResourceDown($index)">
                  <md-icon>arrow_downward</md-icon>
                  Move down
                </md-button>
                <md-button
                  ng-disabled="$index == 0 || $ctrl.theme.resources.length == 1"
                  ng-click="$ctrl.moveResourceUp($index)">
                  <md-icon>arrow_upward</md-icon>
                  Move up
                </md-button>
              </md-card-actions>
            </md-card>

            <div>
              <md-button
                class="md-raised"
                aria-label="Add new resource to this platform theme"
                ng-click="$ctrl.addResource()">
                <md-icon>add_box</md-icon>
                Add new resource
              </md-button>
            </div>

          </div>

          <br />

          <div>
            <md-button
              type="submit"
              class="md-primary"
              ng-disabled="$ctrl.saving || $ctrl.themeForm.$invalid"
              ng-class="{'md-raised': ($ctrl.themeForm.$dirty && $ctrl.themeForm.$valid) }"
              aria-label="Save platform theme">
              <span ng-if="$ctrl.isNew">Create</span>
              <span ng-if="!$ctrl.isNew">Update</span>
            </md-button>
            <md-button ui-sref="platform-themes.editor.list" ng-disabled="$ctrl.saving">Cancel</md-button>
          </div>
        </form>
      </md-content>
    </div>

  </md-content>
</div>
