<div class="identities-list">
  <md-list>
    <ng-switch
      ng-repeat="i in $ctrl.userIdentities"
      ng-if="!$ctrl.onlySelfService || i.selfService"
      on="i.provider">

    <md-list-item
      ng-switch-default
      class="md-3-line">

      <md-icon ng-if="i.connected" md-colors="{color: 'teal'}">check_circle</md-icon>

      <div class="md-list-item-text" ng-class="{'md-offset': !i.connected}">
        <h3>{{i.title}}</h3>

        <p ng-if="i.connected">
          ID: {{i.external_id}}
        </p>

        <p ng-if="i.connected && i.external_username">
          Username: {{i.external_username}}
        </p>

        <md-button
          class="md-raised md-secondary"
          ng-if="i.selfService && !i.connected"
          ng-click="$ctrl.connect(i.provider)"
          aria-label="Connect {{i.title}} identity">
          Connect
        </md-button>
        <md-button
          class="md-raised md-secondary"
          ng-if="i.selfService && i.connected"
          ng-click="$ctrl.disconnect(i.provider, $event)"
          aria-label="Disconnect {{i.title}} identity">
          Disconnect
        </md-button>

      </div>

      <md-divider></md-divider>

    </md-list-item>

    <md-list-item
      ng-switch-when="kubernetes"
      ng-if="$ctrl.FeatureFlags.isEnabled($ctrl.featureFlagKeys.kubernetesTokens)"
      class="md-3-line md-long-text">

      <md-icon ng-if="i.connected" md-colors="{color: 'teal'}">check_circle</md-icon>

      <div class="md-list-item-text" ng-class="{'md-offset': !i.connected}">
        <h3>{{i.title}}</h3>

        <p ng-if="i.connected">
          ID: {{i.external_id}}
        </p>

        <p ng-if="i.kubernetes_tokens.length == 0">
          No tokens currently available for you
        </p>

        <div ng-if="$ctrl.showKubeTokens">
          <br />

          <div ng-repeat="(label, tokens) in $ctrl.kubernetesTokensByProject track by label">
            <h5>{{label}}</h5>
            <ul class="md-body-1">
              <li ng-repeat="t in tokens">
                <p>
                  {{t.cluster.name}}:
                  <kubernetes-token-value item="t"></kubernetes-token-value>
                </p>

                <ul style="margin-bottom: 0.75em">
                  <li>
                    <p>
                      Groups:
                      <span ng-if="t.groups && t.groups.length > 0">
                        {{t.groups.join(', ')}}
                      </span>
                      <span ng-if="!t.groups.length" class="none-text">
                        no RBAC groups assigned to this token
                      </span>
                    </p>
                  </li>
                  <li ng-if="t.expire_privileged_at">
                    <p
                      md-colors="{color: 'accent'}">
                      <strong>Escalated privilege ends at:</strong>
                      <br />
                      {{t.expire_privileged_at | date:'EEE MMM d y HH:mm UTC':'UTC'}}
                      (<span am-time-ago="t.expire_privileged_at"></span>)
                    </p>
                  </li>
                </ul>
              </li>
            </ul>
          </div>

        </div>

        <md-button class="md-secondary md-raised"
          ng-if="i.kubernetes_tokens.length > 0"
          ng-click="$ctrl.showKubeTokens = !$ctrl.showKubeTokens"
          aria-label="Show/Hide tokens">
          <span ng-if="!$ctrl.showKubeTokens">Show tokens</span>
          <span ng-if="$ctrl.showKubeTokens">Hide tokens</span>
        </md-button>

      </div>

    </md-list-item>

  </md-list>

  <br />

  <div layout-padding ng-if="$ctrl.Identities.getOther().length > 0">
    <div
      class="md-whiteframe-z1"
      md-colors="{background: 'green-50'}"
      layout-padding>
      <div>
        <h3 class="md-title">
          Other services
        </h3>

        <p class="md-body-1">
          You already have access via single sign-on, or may need to request access separately.
          May be managed by the hub in the future.
        </p>

        <div ng-if="!$ctrl.expandOtherServices" layout="row" layout-align="end center">
          <md-button class="md-primary" ng-click="$ctrl.expandOtherServices = true;">
            Show
          </md-button>
        </div>

        <md-list flex ng-if="$ctrl.expandOtherServices">
          <div ng-repeat="i in $ctrl.Identities.getOther() track by i.title">
            <md-list-item
              ng-if="i.url"
              ng-href="{{i.url}}"
              target="'_blank">
              <div class="md-list-item-text">
                <p>
                  {{i.title}}
                </p>
              </div>
              <md-divider></md-divider>
            </md-list-item>
            <md-list-item
              ng-if="!i.url">
              <div class="md-list-item-text">
                <p>
                  {{i.title}}
                </p>
              </div>
              <md-divider></md-divider>
            </md-list-item>
          </div>
        </md-list>
      </div>
    </div>
  </div>
</div>
