<div class="project-services-detail">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h3 ng-if="$ctrl.service">
        <span>Project Service: </span>
        <span>{{$ctrl.service.name}}</span>
      </h3>
      <span flex></span>
      <md-button
        ng-if="$ctrl.service && ($ctrl.isAdmin || $ctrl.isProjectAdmin)"
        aria-label="Edit this project service"
        ui-sref="projects.services.edit({projectId: $ctrl.projectId, id: $ctrl.service.id})">
        <md-icon>edit</md-icon>
        Edit
      </md-button>
      <md-button
        ng-if="$ctrl.service && ($ctrl.isAdmin || $ctrl.isProjectAdmin)"
        aria-label="Delete this project service"
        ng-click="$ctrl.deleteService($event)">
        <md-icon>delete</md-icon>
        Delete
      </md-button>
    </div>
  </md-toolbar>

  <md-content>

    <div class="md-body-2">
      <a class="md-button" ui-sref="projects.detail({id: $ctrl.projectId})">
        <md-icon>arrow_back</md-icon>
        Back to project
      </a>
    </div>

    <md-tabs
      ng-if="!$ctrl.loading && $ctrl.service"
      md-dynamic-height
      md-border-bottom>

      <md-tab id="overview-tab">
        <md-tab-label>Overview</md-tab-label>
        <md-tab-body>
          <div layout-padding>
            <div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50">
              <md-content layout-padding>

                <h3 class="md-title" layout="row">
                  {{$ctrl.service.name}}
                </h3>

                <p
                  class="md-body-1"
                  md-colors="{background: 'blue-grey-50'}"
                  ng-if="$ctrl.service.description"
                  ng-bind-html='$ctrl.service.description | simpleFormat'>
                </p>

              </md-content>
            </div>
          </div>
        </md-tab-body>
      </md-tab>

      <md-tab
        id="kube-robot-tokens-tab"
        ng-if="$ctrl.FeatureFlags.isEnabled($ctrl.featureFlagKeys.kubernetesTokens)"
        md-on-select="$ctrl.loadKubernetesRobotTokens()">
        <md-tab-label>Kube Robot Tokens</md-tab-label>
        <md-tab-body>
          <loading-indicator loading="$ctrl.processingKubernetesRobotTokens"></loading-indicator>

          <div
            ng-if="$ctrl.shouldShowCreateKubernetesRobotTokenButton()"
            layout="row"
            layout-align="center center">
            <md-button
              class="md-primary md-raised"
              aria-label="Create a new Kubernetes robot token for this service"
              ui-sref="kubernetes.robot-tokens.new({fromProject: $ctrl.projectId, fromService: $ctrl.service.id})">
              Create a new Kubernetes robot token for this service
            </md-button>
          </div>

          <md-card ng-repeat="t in $ctrl.kubernetesRobotTokens track by t.id">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">
                  {{t.name}}
                  <span
                    flex="none"
                    class="badge"
                    md-colors="{background: 'accent-100'}"
                    style="margin-left: 0">
                    {{t.cluster.name}} cluster
                  </span>
                </span>
              </md-card-title-text>
            </md-card-title>

            <md-card-content>
              <p
                class="md-body-1"
                md-colors="{background: 'blue-grey-50'}"
                ng-if="t.description"
                ng-bind-html='t.description | simpleFormat'
                layout-padding>
              </p>
              <br />
              <p class="md-body-1">
                <strong>Token:</strong> <kubernetes-token-value item="t"></kubernetes-token-value>
              </p>
              <p class="md-body-1">
                <strong>UID:</strong> {{t.uid}}
              </p>
              <p class="md-body-1">
                <strong>Groups:</strong>
                <span ng-if="t.groups.length > 0">
                  <span ng-repeat="g in t.groups" class="badge" md-colors="{background: 'green-100'}">{{g}}</span>
                </span>
                <span ng-if="!t.groups.length" class="none-text">
                  no RBAC groups assigned to this token
                </span>
              </p>
            </md-card-content>

            <md-card-actions layout="row" layout-align="start center" ng-if="$ctrl.isAdmin || $ctrl.isProjectAdmin">
              <md-button
                class="md-primary"
                aria-label="View and edit details for this token"
                ui-sref="kubernetes.robot-tokens.edit({cluster: t.cluster.name, tokenId: t.id, fromProject: $ctrl.projectId, fromService: $ctrl.service.id})">
                View and edit
              </md-button>
              <span flex></span>
              <md-button
                class="md-accent"
                ng-click="$ctrl.deleteKubernetesRobotToken(t.id, $event)"
                ng-disabled="$ctrl.processingKubernetesRobotTokens"
                aria-label="Delete kubernetes robot token">
                Delete
              </md-button>
            </md-card-actions>
          </md-card>
        </md-tab-body>
      </md-tab>

      <md-tab
        id="kube-namespaces-tab"
        ng-if="$ctrl.isAdmin && $ctrl.FeatureFlags.isEnabled($ctrl.featureFlagKeys.kubernetesTokens)"
        md-on-select="$ctrl.loadKubernetesNamespaces()">
        <md-tab-label>Kube Namespaces</md-tab-label>
        <md-tab-body>
          <loading-indicator loading="$ctrl.processingKubernetesNamespaces"></loading-indicator>

          <div
            ng-if="$ctrl.isAdmin"
            layout="row"
            layout-align="center center">
            <md-button
              class="md-primary md-raised"
              aria-label="Register a Kubernetes namespace with this project service"
              ui-sref="kubernetes.namespaces.new({fromProject: $ctrl.projectId, fromService: $ctrl.service.id})">
              Register a Kubernetes namespace with this service
            </md-button>
          </div>

          <md-card ng-repeat="n in $ctrl.kubernetesNamespaces track by n.id">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">
                  {{n.name}}
                  <span
                    flex="none"
                    class="badge"
                    md-colors="{background: 'accent-100'}"
                    style="margin-left: 0">
                    {{n.cluster.name}} cluster
                  </span>
                </span>
              </md-card-title-text>
            </md-card-title>

            <md-card-content>
              <p
                class="md-body-1"
                md-colors="{background: 'blue-grey-50'}"
                ng-if="n.description"
                ng-bind-html='n.description | simpleFormat'
                layout-padding>
              </p>
            </md-card-content>

            <md-card-actions layout="row" layout-align="start center" ng-if="$ctrl.isAdmin">
              <md-button
                class="md-primary"
                aria-label="View and edit details for this namespace"
                ui-sref="kubernetes.namespaces.edit({cluster: n.cluster.name, namespaceId: n.id, fromProject: $ctrl.projectId, fromService: $ctrl.service.id})">
                View and edit
              </md-button>
              <span flex></span>
              <md-button
                class="md-accent"
                ng-click="$ctrl.deleteKubernetesNamespace(n.id, $event)"
                ng-disabled="$ctrl.processingKubernetesNamespaces"
                aria-label="Delete kubernetes namespace">
                Delete
              </md-button>
            </md-card-actions>
          </md-card>
        </md-tab-body>
      </md-tab>

    </md-tabs>

    <br /><br />
    <br /><br />

  </md-content>
</div>
