<div class="kubernetes-user-tokens-form">
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <h3>
        <span ng-if="$ctrl.isNew">New Kubernetes User Token</span>
        <span ng-if="!$ctrl.isNew">Edit Kubernetes User Token</span>
      </h3>
    </div>
  </md-toolbar>

  <loading-indicator loading="$ctrl.loading || $ctrl.saving"></loading-indicator>

  <md-content layout-padding ng-if="!$ctrl.loading">

    <div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="md-whiteframe-z2">
      <md-content layout-padding>
        <form name="$ctrl.kubernetesTokenForm" role="form" ng-submit="$ctrl.createOrUpdate()">

          <md-input-container class="md-block">
            <label for="project">Project:</label>
            <md-select
              ng-model="$ctrl.token.project.id"
              ng-change="$ctrl.handleProjectChange()"
              name="project"
              required
              placeholder="Select the project this token is tied to"
              ng-disabled="!$ctrl.canChangeProject()">
              <md-option
                ng-repeat="p in $ctrl.Projects.all track by p.id"
                value="{{p.id}}">
                {{p.name}} ({{p.shortname}})
              </md-option>
            </md-select>
            <div ng-messages="$ctrl.kubernetesTokenForm.project.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <br />

          <p
            ng-if="!$ctrl.processing && $ctrl.token.project.id && $ctrl.allowedUsers.length == 0"
            class="md-body-2"
            md-colors="{background: 'accent-50'}"
            layout-padding>
            No project team members to choose from
          </p>

          <md-input-container class="md-block">
            <label for="user">User:</label>
            <md-select
              ng-model="$ctrl.token.user.id"
              required
              placeholder="Select the user this token is for"
              ng-disabled="$ctrl.processing || !$ctrl.token.project.id || !$ctrl.isNew || !$ctrl.allowedUsers.length">
              <md-option
                ng-repeat="u in $ctrl.allowedUsers track by u.id"
                ng-disabled="!u.is_active"
                value="{{u.id}}">
                {{u.name}} ({{u.email}})
                <span ng-if="!u.is_active">[inactive]</span>
              </md-option>
            </md-select>
          </md-input-container>

          <br />

          <p
            ng-if="!$ctrl.processing && $ctrl.token.project.id && $ctrl.allowedClusters.length == 0"
            class="md-body-2"
            md-colors="{background: 'accent-50'}"
            layout-padding>
            No Kubernetes clusters have been allocated yet to this project.
            <br />
            Please contact the {{$ctrl.AppSettings.getPlatformName()}} team to allocate a cluster to use in the project.
          </p>

          <md-input-container class="md-block">
            <label for="cluster">Cluster:</label>
            <md-select
              ng-model="$ctrl.token.cluster.name"
              ng-change="$ctrl.handleClusterChange()"
              name="cluster"
              required
              placeholder="Select the cluster"
              ng-disabled="$ctrl.processing || !$ctrl.token.project.id || (!$ctrl.isNew && $ctrl.token.cluster) || !$ctrl.allowedClusters.length">
              <md-option
                ng-repeat="c in $ctrl.allowedClusters track by c.name"
                value="{{c.name}}">
                {{c.name}} ({{c.description}})
              </md-option>
            </md-select>
            <div ng-messages="$ctrl.kubernetesTokenForm.cluster.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <br />

          <p
            ng-if="!$ctrl.processing && $ctrl.token.project.id && $ctrl.token.cluster.name && !$ctrl.allowedGroups.length == 0"
            class="md-body-2"
            md-colors="{background: 'accent-50'}"
            layout-padding>
            No RBAC groups (for user tokens) have been allocated yet to the selected project, or they may not be accessible to the selected cluster.
            <br />
            You can still create this token and add in the groups later (by editing the token once you have a group allocated).
          </p>

          <md-input-container class="md-block">
            <label for="groups">RBAC groups</label>
            <md-select
              name="groups"
              ng-model="$ctrl.token.groups"
              md-selected-text="$ctrl.token.groups.length ? $ctrl.token.groups.join(', ') : 'Select RBAC group(s) *'"
              ng-disabled="$ctrl.processing || _.isEmpty($ctrl.allowedGroups) || !$ctrl.token.project.id || !$ctrl.token.cluster.name"
              multiple>
              <md-optgroup
                ng-repeat="(label, groups) in $ctrl.allowedGroups track by label"
                label="{{label}}">
                <md-option
                  ng-repeat="g in groups track by g.name"
                  ng-value="g.name">
                  {{g.name}}
                  <br />
                  <small>{{g.description}}</small>
                </md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>

          <br />

          <md-input-container class="md-block" ng-if="!$ctrl.isNew">
            <label for="token">Token:</label>
            <input
              name="token"
              ng-model="$ctrl.token.obfuscated_token"
              ng-disabled="$ctrl.token.obfuscated_token"
              required
              placeholder="Kubernetes access token">
            <div ng-messages="$ctrl.kubernetesTokenForm.token.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block" ng-if="!$ctrl.isNew">
            <label for="uid">UID:</label>
            <input
              name="uid"
              ng-model="$ctrl.token.uid"
              ng-disabled="$ctrl.token.uid"
              required
              placeholder="Kubernetes user UID">
            <div ng-messages="$ctrl.kubernetesTokenForm.uid.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <div>
            <md-button
              type="submit"
              class="md-primary"
              ng-if="$ctrl.token.user.is_active"
              ng-disabled="$ctrl.processing || $ctrl.saving || !$ctrl.kubernetesTokenForm.$valid"
              ng-class="{'md-raised': ($ctrl.kubernetesTokenForm.$dirty && $ctrl.kubernetesTokenForm.$valid) }"
              aria-label="Save Token">
              <span ng-if="$ctrl.isNew">Create</span>
              <span ng-if="!$ctrl.isNew">Update</span>
            </md-button>
            <md-button
              ng-if="!$ctrl.fromProject"
              ui-sref="kubernetes.user-tokens.list({userId: $ctrl.token.user.id})"
              ng-disabled="$ctrl.processing || $ctrl.saving">
              Cancel
            </md-button>
            <md-button
              ng-if="$ctrl.fromProject"
              ui-sref="projects.detail({id: $ctrl.fromProject})"
              ng-disabled="$ctrl.processing || $ctrl.saving">
              Cancel
            </md-button>
           </div>
        </form>
      </md-content>
    </div>

  </md-content>

</div>
