<div class="kubernetes-clusters-detail">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h3 ng-if="$ctrl.cluster">
        <span>Kubernetes Cluster: </span>
        <span>{{$ctrl.cluster.name}}</span>
      </h3>
      <span flex></span>
      <md-button
        ng-if="$ctrl.cluster"
        aria-label="Edit this cluster"
        ui-sref="kubernetes.clusters.edit({id: $ctrl.cluster.id})">
        <md-icon>edit</md-icon>
        Edit
      </md-button>
    </div>
  </md-toolbar>

  <loading-indicator loading="$ctrl.loading"></loading-indicator>

  <md-content>
    <md-tabs
      ng-if="!$ctrl.loading && $ctrl.cluster"
      md-dynamic-height
      md-border-bottom>

      <md-tab id="overview-tab">
        <md-tab-label>Overview</md-tab-label>
        <md-tab-body>
          <div layout-padding>
            <div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50">
              <md-content layout-padding>

                <h3 class="md-title">
                  {{$ctrl.cluster.name}}
                </h3>

                <p
                  class="md-body-1"
                  md-colors="{background: 'blue-grey-50'}"
                  ng-if="$ctrl.cluster.description"
                  ng-bind-html='$ctrl.cluster.description | simpleFormat'>
                </p>

                <p class="md-body-1">
                  <span md-colors="{color: 'blue-grey-700'}">
                    AWS account ID:
                  </span>
                  <span ng-if="$ctrl.cluster.aws_account_id">{{$ctrl.cluster.aws_account_id}}</span>
                  <span ng-if="!$ctrl.cluster.aws_account_id" class="none-text">not set yet</span>
                </p>

                <md-divider></md-divider>

                <p class="md-body-1">
                  <span md-colors="{color: 'blue-grey-700'}">
                    Kube API URL:
                  </span>
                  <span ng-if="$ctrl.cluster.api_url">{{$ctrl.cluster.api_url}}</span>
                  <span ng-if="!$ctrl.cluster.api_url" class="none-text">not set yet</span>
                </p>

                <p class="md-body-1" style="overflow-wrap: break-word;">
                  <span md-colors="{color: 'blue-grey-700'}">
                    Kube CA cert (base64 encoded):
                  </span>
                  <span ng-if="$ctrl.cluster.ca_cert_encoded">{{$ctrl.cluster.ca_cert_encoded}}</span>
                  <span ng-if="!$ctrl.cluster.ca_cert_encoded" class="none-text">not set yet</span>
                </p>

              </md-content>
            </div>
          </div>
        </md-tab-body>
      </md-tab>

      <md-tab id="allocations-tab" md-on-select="$ctrl.loadAllocations()">
        <md-tab-label>Allocations</md-tab-label>
        <md-tab-body>
          <loading-indicator loading="$ctrl.loadingAllocations"></loading-indicator>

          <div layout="row" layout-align="center center">
            <md-button
              class="md-primary md-raised"
              ng-click="$ctrl.allocate($event)">
              Allocate this cluster to a project
            </md-button>
          </div>

          <allocations-listing
            busy="$ctrl.loadingAllocations"
            items="$ctrl.allocations"
            allocatable-noun="cluster"
            after-delete="$ctrl.loadAllocations()">
          </allocations-listing>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
