<div class="kubernetes-groups-form">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h3>
        <span ng-if="$ctrl.isNew">New Kubernetes RBAC Group</span>
        <span ng-if="!$ctrl.isNew">Edit Kubernetes RBAC Group</span>
      </h3>
    </div>
  </md-toolbar>

  <loading-indicator loading="$ctrl.loading || $ctrl.saving"></loading-indicator>

  <md-content layout-padding ng-if="!$ctrl.loading">

    <p
      class="md-body-1"
      md-colors="{background: 'yellow-50'}">
      NOTE: No RBAC groups are actually created/modified on the clusters by this – this is just to
      register a group in the hub so it can be used and referred to later.
    </p>

    <div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="md-whiteframe-z1" layout-padding>
      <md-content>
        <form name="$ctrl.groupForm" role="form" ng-submit="$ctrl.createOrUpdate()">

          <md-input-container class="md-block">
            <label for="name">Name:</label>
            <input
              name="name"
              ng-model="$ctrl.group.name"
              required
              placeholder="The main identifier for this group as specified in the YAML file(s)">
            <div ng-messages="$ctrl.groupForm.name.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <label for="description">Description:</label>
            <textarea
              name="description"
              ng-model="$ctrl.group.description"
              rows="4"
              required
              md-select-on-focus>
            </textarea>
            <div ng-messages="$ctrl.groupForm.description.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block md-input-has-value">
            <label for="kind">Kind:</label>
            <br />
            <md-radio-group
              name="kind"
              required
              ng-model="$ctrl.group.kind"
              aria-label="Set the kind of group">
              <md-radio-button
                ng-repeat="k in $ctrl.KubernetesGroups.kinds"
                ng-value="k">
                {{k}}
              </md-radio-button>
            </md-radio-group>
          </md-input-container>

          <md-input-container class="md-block md-input-has-value">
            <label for="target">Target:</label>
            <br />
            <md-radio-group
              required
              ng-model="$ctrl.group.target"
              aria-label="Set the target of this group">
              <md-radio-button
                ng-repeat="t in $ctrl.KubernetesGroups.targets"
                ng-value="t">
                {{t}}
              </md-radio-button>
            </md-radio-group>
          </md-input-container>

          <md-input-container class="md-block">
            <md-checkbox
              name="is_privileged"
              ng-model="$ctrl.group.is_privileged"
              aria-label="Is this RBAC group only for privileged access">
              Privileged access?
            </md-checkbox>
          </md-input-container>

          <md-input-container class="md-block">
            <label for="restricted_to_clusters">Restricted to particular clusters: (optional - leave blank to allow all clusters)</label>
            <md-select
              ng-model="$ctrl.group.restricted_to_clusters"
              name="restricted_to_clusters"
              multiple>
              <md-option
                ng-repeat="c in $ctrl.KubernetesClusters.all"
                value="{{c.name}}">
                {{c.name}} ({{c.description}})
              </md-option>
            </md-select>
          </md-input-container>

          <div>
            <md-button
              type="submit"
              class="md-primary"
              ng-disabled="$ctrl.saving || !$ctrl.groupForm.$valid"
              ng-class="{'md-raised': ($ctrl.groupForm.$dirty && $ctrl.groupForm.$valid) }"
              aria-label="Save Group">
              <span ng-if="$ctrl.isNew">Create</span>
              <span ng-if="!$ctrl.isNew">Update</span>
            </md-button>
            <md-button
              ng-if="$ctrl.isNew"
              ui-sref="kubernetes.groups.list"
              ng-disabled="$ctrl.saving">
              Cancel
            </md-button>
            <md-button
              ng-if="!$ctrl.isNew"
              ui-sref="kubernetes.groups.detail({id: $ctrl.group.id})"
              ng-disabled="$ctrl.saving">
              Cancel
            </md-button>
          </div>
        </form>
      </md-content>
    </div>

  </md-content>
</div>
