<div class="kubernetes-user-tokens-list">
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <h3>
        <span>Kubernetes User Tokens</span>
        <span ng-if="$ctrl.user">for {{$ctrl.user.name}}</span>
        <small class="badge" ng-if="$ctrl.user && !$ctrl.user.is_active" md-colors="{background: 'blue-grey'}">Deactivated</small>
      </h3>
      <span flex></span>

      <md-button
        ng-if="!$ctrl.loading && (!$ctrl.user || $ctrl.user.is_active)"
        aria-label="Add new token"
        ui-sref="kubernetes.user-tokens.new({userId: $ctrl.user.id})">
        <md-icon>{{$ctrl.addTokenIcon}}</md-icon>
        New
      </md-button>

      <md-menu>
        <md-button aria-label="Action menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
          <md-icon md-menu-origin md-svg-icon="menu"></md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button
              aria-label="Sync tokens"
              ui-sref="kubernetes.tokens-sync">
              <md-icon>{{$ctrl.syncTokensIcon}}</md-icon>
              Sync tokens
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button
              aria-label="Revoke token"
              ng-click="$ctrl.revokeToken($event)">
              <md-icon>{{$ctrl.revokeTokenIcon}}</md-icon>
              Revoke token
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </md-toolbar>

  <loading-indicator loading="$ctrl.loading"></loading-indicator>

  <md-toolbar md-colors="{background: 'primary-50'}">
    <div class="md-toolbar-tools">
      <md-autocomplete
        md-selected-item-change="$ctrl.filterKubernetesTokensByUser()"
        md-no-cache="true"
        md-selected-item="$ctrl.searchSelectedUser"
        md-search-text="$ctrl.searchText"
        md-items="user in $ctrl.searchUsers($ctrl.searchText)"
        md-item-text="user.name + ' (' + user.email + ')'"
        md-min-length="1"
        ng-model-options="{ debounce: 500 }"
        placeholder="Search for a user to view tokens…"
        flex>
        <md-item-template>
          <span md-highlight-text="$ctrl.searchText" md-highlight-flags="^i">
            {{user.name}}
            ({{user.email}})
          </span>
          <small class="badge" ng-if="!user.is_active" md-colors="{background: 'blue-grey'}">Deactivated</small>
        </md-item-template>
        <md-not-found>
          No users matching "{{$ctrl.searchText}}" were found.
        </md-not-found>
      </md-autocomplete>
      <md-button
        class="md-primary md-raised"
        aria-label="Filter list by user"
        ng-click="$ctrl.filterKubernetesTokensByUser()"
        ng-disabled="!$ctrl.searchSelectedUser">
        Filter
      </md-button>
    </div>
  </md-toolbar>

  <md-content layout-padding>

    <p
      class="md-body-1"
      md-colors="{background: 'yellow-50'}">
      After making any changes make sure you
      <a ui-sref="kubernetes.tokens-sync">sync the relevant cluster(s)</a>
      to push your changes live
    </p>

    <md-card
      ng-if="!$ctrl.loading && $ctrl.tokens.length > 0"
      ng-repeat="t in $ctrl.tokens | orderBy: 'cluster.name' track by t.id">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">
            {{t.cluster.name}} cluster
          </span>
        </md-card-title-text>
      </md-card-title>

      <md-card-content>
        <p class="md-body-1">
          <strong>Project:</strong> {{t.project.name}} ({{t.project.shortname}})
        </p>
        <p class="md-body-1">
          <strong>Cluster:</strong> {{t.cluster.name}}
        </p>
        <p class="md-body-1">
          <strong>Token:</strong> <kubernetes-token-value item="t"></kubernetes-token-value>
        </p>
        <p class="md-body-1">
          <strong>UID:</strong> {{t.uid}}
        </p>
        <p class="md-body-1">
          <strong>Groups:</strong>
          <span ng-if="t.groups && t.groups.length > 0">
            {{t.groups.join(', ')}}
          </span>
          <span ng-if="!t.groups.length" class="none-text">
            no RBAC groups assigned to this token
          </span>
        </p>
        <p
          class="md-body-1"
          ng-if="t.expire_privileged_at"
          md-colors="{color: 'accent'}">
          <strong>Escalated privilege ends at:</strong>
          {{t.expire_privileged_at | date:'EEE MMM d y HH:mm UTC':'UTC'}}
          (<span am-time-ago="t.expire_privileged_at"></span>)
        </p>
      </md-card-content>

      <md-card-actions layout="row" layout-align="start center">
        <md-button
          ng-if="$ctrl.user.is_active"
          class="md-primary"
          aria-label="View and edit details for this token"
          ui-sref="kubernetes.user-tokens.edit({userId: $ctrl.user.id, tokenId: t.id})">
          View and edit
        </md-button>
        <md-button
          ng-if="$ctrl.user.is_active && $ctrl.FeatureFlags.isEnabled($ctrl.featureFlagKeys.kubernetesTokensEscalatePrivilege)"
          aria-label="Escalate privilege for this particular token. Opens up a popup where you can choose details for the escalation."
          ng-click="$ctrl.escalatePrivilege(t, $event)">
          Escalate privilege
          <md-tooltip md-direction="bottom">
            Grant a short lived escalation of privilege for this token. Opens a popup where you can configure and apply this escalation.
          </md-tooltip>
        </md-button>
        <md-button
          ng-click="$ctrl.deleteToken(t.id, $event)"
          aria-label="Remove kubernetes token">
          Delete
        </md-button>
      </md-card-actions>
    </md-card>

    <md-card ng-if="!$ctrl.loading && $ctrl.user && $ctrl.tokens.length == 0">
      <md-card-content>
        <p class="md-body-1 none-text">
          {{$ctrl.user.name}} does not have any kubernetes access tokens yet.
          <br />
          <a ui-sref="kubernetes.user-tokens.new({userId: $ctrl.user.id})">You can generate a new token for them</a>
        </p>
      </md-card-content>
    </md-card>

    <md-card ng-if="!$ctrl.loading && !$ctrl.user">
      <md-card-content>
        <p class="md-body-1 none-text">
          To view tokens, first search for a user in the search box above.
        </p>
      </md-card-content>
    </md-card>

  </md-content>
</div>
