<div class="kubernetes-namespaces-form">
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <h3>
        <span ng-if="$ctrl.isNew">New Kubernetes Namespace</span>
        <span ng-if="!$ctrl.isNew">Edit Kubernetes Namespace</span>
      </h3>
    </div>
  </md-toolbar>

  <loading-indicator loading="$ctrl.loading || $ctrl.processing || $ctrl.saving"></loading-indicator>

  <md-content layout-padding ng-if="!$ctrl.loading">

    <p
      class="md-body-1"
      md-colors="{background: 'yellow-50'}">
      NOTE: No namespaces are actually created/modified on the clusters by this – this is just to
      register a namespace in the hub so it can be used and referred to later.
    </p>

    <div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="md-whiteframe-z1">
      <md-content layout-padding>
        <form name="$ctrl.kubernetesNamespaceForm" role="form" ng-submit="$ctrl.createOrUpdate()">

          <div layout="row" flex>
            <md-input-container
              flex
              class="md-block md-icon-float"
              ng-click="$ctrl.chooseService()">
              <label for="service">For service</label>
              <input
                name="service"
                ng-value="$ctrl.service.name"
                ng-class="{'pointer': $ctrl.isNew}"
                disabled="true"
                required>
              <div ng-messages="$ctrl.kubernetesNamespaceForm.service.$error">
                <div ng-message="required">This is required.</div>
              </div>
              <p
                ng-if="$ctrl.service"
                class="md-body-1"
                md-colors="{background: 'green-50'}"
                layout-padding>
                <strong>Project: </strong>{{$ctrl.service.project.shortname}}
                <strong>Service: </strong>{{$ctrl.service.name}}
              </p>
              <p
                ng-if="!$ctrl.service"
                class="md-body-1"
                md-colors="{background: 'accent-50'}"
                layout-padding>
                <strong>No project service specified</strong>
              </p>
            </md-input-container>
            <md-button
              class="md-icon-button input-button-end"
              aria-label="Choose a service"
              ng-if="$ctrl.canChangeService()"
              ng-click="$ctrl.chooseService()">
              <md-icon>create</md-icon>
              <md-tooltip md-direction="bottom">
                Choose service
              </md-tooltip>
            </md-button>
          </div>

          <p
            ng-if="!$ctrl.processing && $ctrl.service && $ctrl.allowedClusters.length == 0"
            class="md-body-2"
            md-colors="{background: 'accent-50'}"
            layout-padding>
            No Kubernetes clusters have been allocated yet to this project.
            <br />
            Please contact the {{$ctrl.AppSettings.getPlatformName()}} team to allocate a cluster to use in the project.
          </p>

          <md-input-container class="md-block">
            <label for="cluster">Cluster:</label>
            <md-select
              ng-model="$ctrl.namespace.cluster.name"
              ng-change="$ctrl.handleClusterChange()"
              name="cluster"
              required
              placeholder="Select the cluster"
              ng-disabled="$ctrl.processing || !$ctrl.service || (!$ctrl.isNew && $ctrl.namespace.cluster) || !$ctrl.allowedClusters.length">
              <md-option
                ng-repeat="c in $ctrl.allowedClusters track by c.name"
                ng-value="c.name">
                {{c.name}} ({{c.description}})
              </md-option>
            </md-select>
            <div ng-messages="$ctrl.kubernetesNamespaceForm.cluster.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <br />

          <md-input-container class="md-block">
            <label for="name">Name (Only lowercase letters, numbers and dashes, and must start and end with an alphanumeric character)</label>
            <input
              name="name"
              ng-model="$ctrl.namespace.name"
              ng-disabled="!$ctrl.service || !$ctrl.isNew"
              required
              ng-pattern="/^[a-z0-9]([-a-z0-9]*[a-z0-9])?$/">
            <div ng-messages="$ctrl.kubernetesNamespaceForm.name.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="pattern">Only lowercase letters, numbers and dashes, and must start and end with an alphanumeric character.</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <label for="description">Description</label>
            <textarea
              name="description"
              ng-model="$ctrl.namespace.description"
              ng-disabled="!$ctrl.service"
              rows="2"
              aria-label="Set a description for this namespace"
              md-select-on-focus>
            </textarea>
          </md-input-container>

          <div>
            <md-button
              type="submit"
              class="md-primary"
              ng-disabled="!$ctrl.service || $ctrl.processing || $ctrl.saving || !$ctrl.kubernetesNamespaceForm.$valid"
              ng-class="{'md-raised': ($ctrl.kubernetesNamespaceForm.$dirty && $ctrl.kubernetesNamespaceForm.$valid) }"
              aria-label="Save Namespace">
              <span ng-if="$ctrl.isNew">Create</span>
              <span ng-if="!$ctrl.isNew">Update</span>
            </md-button>
            <md-button
              ng-if="!$ctrl.fromService"
              ui-sref="kubernetes.namespaces.list({cluster: $ctrl.namespace.cluster.name})"
              ng-disabled="$ctrl.processing || $ctrl.saving">
              Cancel
            </md-button>
            <md-button
              ng-if="$ctrl.fromService"
              ui-sref="projects.services.detail({projectId: $ctrl.fromProject, id: $ctrl.fromService})"
              ng-disabled="$ctrl.processing || $ctrl.saving">
              Cancel
            </md-button>
           </div>
        </form>
      </md-content>
    </div>

  </md-content>

</div>
