<div class="kubernetes-clusters-list">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h3>
        <span>All Kubernetes Clusters</span>
      </h3>
      <span flex></span>
      <md-button
        aria-label="Add new cluster config"
        ui-sref="kubernetes.clusters.new">
        <md-icon>add_box</md-icon>
        New
      </md-button>
    </div>
  </md-toolbar>

  <loading-indicator loading="$ctrl.loading"></loading-indicator>

  <md-content>

    <md-card ng-repeat="c in $ctrl.KubernetesClusters.all track by c.name">
      <md-card-title>
        <span class="md-headline">
          {{c.name}}
        </span>
      </md-card-title>
      <md-card-content>
        <p class="md-subhead" ng-if="c.aliases.length">
          <span md-colors="{color: 'blue-grey-700'}">
            Aliases:
          </span>
          <span>{{c.aliases.join(', ')}}</span>
        </p>
        <p
          class="md-body-1"
          md-colors="{background: 'blue-grey-50'}"
          ng-bind-html='c.description | simpleFormat'
          layout-padding>
        </p>
        <br />
        <p class="md-body-1">
          <span md-colors="{color: 'blue-grey-700'}">
            AWS account ID:
          </span>
          <span ng-if="c.aws_account_id">{{c.aws_account_id}}</span>
          <span ng-if="!c.aws_account_id" class="none-text">not set yet</span>
        </p>
        <p class="md-body-1">
          <span md-colors="{color: 'blue-grey-700'}">
            AWS region:
          </span>
          <span ng-if="c.aws_region">{{c.aws_region}}</span>
          <span ng-if="!c.aws_region" class="none-text">not set yet</span>
        </p>
        <p class="md-body-1">
          <span md-colors="{color: 'blue-grey-700'}">
            Costs bucket::
          </span>
          <span ng-if="c.costs_bucket">{{c.costs_bucket}}</span>
          <span ng-if="!c.costs_bucket" class="none-text">not set yet</span>
        </p>
        <p class="md-body-1">
          <span md-colors="{color: 'blue-grey-700'}">
            Kube API URL:
          </span>
          <span ng-if="c.api_url">{{c.api_url}}</span>
          <span ng-if="!c.api_url" class="none-text">not set yet</span>
        </p>
      </md-card-content>
      <md-card-actions layout="row" layout-align="start center">
        <md-button
          class="md-primary"
          aria-label="View details of this kubernetes cluster"
          ui-sref="kubernetes.clusters.detail({id: c.id})">
          Details
        </md-button>
      </md-card-actions>
      </md-card-actions>
    </md-card>

  </md-content>
</div>
