<div class="kubernetes-robot-tokens-list">
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <h3>
        <span>Kubernetes Robot Tokens By Cluster</span>
        <span ng-if="$ctrl.cluster">'{{$ctrl.cluster}}''</span>
      </h3>
      <span flex></span>
      <md-button
        ng-if="!$ctrl.loading && $ctrl.KubernetesClusters.all.length > 0"
        aria-label="Add new robot token for the specified cluster"
        ui-sref="kubernetes.robot-tokens.new({cluster: $ctrl.cluster})">
        <md-icon>{{$ctrl.addTokenIcon}}</md-icon>
        New
      </md-button>
    </div>
  </md-toolbar>

  <loading-indicator loading="$ctrl.loading || $ctrl.busy"></loading-indicator>

  <md-toolbar md-colors="{background: 'primary-50'}">
    <div class="md-toolbar-tools">
      <md-select
        ng-if="!$ctrl.loading && $ctrl.KubernetesClusters.all.length > 0"
        placeholder="Select a cluster"
        ng-model="$ctrl.cluster"
        ng-change="$ctrl.handleClusterChange()">
        <md-option
          ng-repeat="c in $ctrl.KubernetesClusters.all track by c.name"
          ng-value="c.name">
          {{c.name}} ({{c.description}})
        </md-option>
      </md-select>
    </div>
  </md-toolbar>

  <md-content layout-padding>

    <p
      class="md-body-1"
      md-colors="{background: 'yellow-50'}">
      After making any changes make sure you
      <a ui-sref="kubernetes.tokens-sync">sync the relevant cluster(s)</a>
      to push your changes live
    </p>

    <md-card
      ng-if="!$ctrl.loading && $ctrl.tokens.length > 0"
      ng-repeat="t in $ctrl.tokens track by t.name">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">
            {{t.name}}
            <span
              flex="none"
              class="badge"
              md-colors="{background: 'accent-100'}"
              style="margin-left: 0">
              {{t.cluster.name}} cluster
            </span>
          </span>
        </md-card-title-text>
      </md-card-title>

      <md-card-content>
        <p
          class="md-body-1"
          md-colors="{background: 'blue-grey-50'}"
          ng-if="t.description"
          ng-bind-html='t.description | simpleFormat'
          layout-padding>
        </p>
        <br />
        <p class="md-body-1">
          <strong>Project: </strong>{{t.project.name}} ({{t.project.shortname}})
        </p>
        <p class="md-body-1">
          <strong>Service: </strong>{{t.service.name}}
        </p>
        <p class="md-body-1">
          <strong>Token:</strong> <kubernetes-token-value item="t"></kubernetes-token-value>
        </p>
        <p class="md-body-1">
          <strong>UID:</strong> {{t.uid}}
        </p>
        <p class="md-body-1">
          <strong>Groups:</strong>
          <span ng-if="t.groups.length > 0">
            <span ng-repeat="g in t.groups" class="badge" md-colors="{background: 'green-100'}">{{g}}</span>
          </span>
          <span ng-if="!t.groups.length" class="none-text">
            no RBAC groups assigned to this token
          </span>
        </p>
      </md-card-content>

      <md-card-actions layout="row" layout-align="start center">
        <md-button
          class="md-primary"
          aria-label="View and edit details for this token"
          ui-sref="kubernetes.robot-tokens.edit({cluster: t.cluster.name, tokenId: t.id})">
          View and edit
        </md-button>
        <span flex></span>
        <md-button
          class="md-accent"
          ng-click="$ctrl.deleteToken(t.id, $event)"
          aria-label="Delete kubernetes robot token">
          Delete
        </md-button>
      </md-card-actions>
    </md-card>

    <br /><br />

  </md-content>
</div>
