<div class="kubernetes-namespaces-list">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h3>
        <span>Kubernetes Namespaces By Cluster</span>
        <span ng-if="$ctrl.cluster">'{{$ctrl.cluster}}'</span>
      </h3>
      <span flex></span>
      <md-button
        ng-if="!$ctrl.loading && $ctrl.KubernetesClusters.all.length > 0"
        aria-label="Add new namespace for the specified cluster"
        ui-sref="kubernetes.namespaces.new({cluster: $ctrl.cluster})">
        <md-icon>add_box</md-icon>
        New
      </md-button>
    </div>
  </md-toolbar>

  <loading-indicator loading="$ctrl.loading || $ctrl.busy"></loading-indicator>

  <md-toolbar md-colors="{background: 'primary-50'}">
    <div class="md-toolbar-tools">
      <md-select
        ng-if="$ctrl.KubernetesClusters.all.length > 0"
        ng-disabled="$ctrl.busy"
        placeholder="Select a cluster"
        ng-model="$ctrl.cluster"
        ng-change="$ctrl.handleClusterChange()">
        <md-option
          ng-repeat="c in $ctrl.KubernetesClusters.all track by c.name"
          ng-value="c.name">
          {{c.name}} ({{c.description}})
        </md-option>
      </md-select>
    </div>
  </md-toolbar>

  <md-content
    paginated-list
    paginated-list-per-page="$ctrl.namespaces.pagination.perPage"
    paginated-list-total="$ctrl.namespaces.pagination.total"
    paginated-list-fetch="$ctrl.fetchNamespaces(page)">

    <md-card ng-repeat="n in $ctrl.namespaces track by n.name">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">
            {{n.name}}
            <span
              flex="none"
              class="badge"
              md-colors="{background: 'accent-100'}"
              style="margin-left: 0">
              {{n.cluster.name}} cluster
            </span>
          </span>
        </md-card-title-text>
      </md-card-title>

      <md-card-content>
        <p
          class="md-body-1"
          md-colors="{background: 'blue-grey-50'}"
          ng-if="n.description"
          ng-bind-html='n.description | simpleFormat'
          layout-padding>
        </p>
        <br />
        <p class="md-body-1">
          <strong>Project: </strong>{{n.service.project.name}} ({{n.service.project.shortname}})
        </p>
        <p class="md-body-1">
          <strong>Service: </strong>{{n.service.name}}
        </p>
      </md-card-content>

      <md-card-actions layout="row" layout-align="start center">
        <md-button
          class="md-primary"
          aria-label="View and edit details for this namespace"
          ui-sref="kubernetes.namespaces.edit({cluster: n.cluster.name, namespaceId: n.id})">
          View and edit
        </md-button>
        <span flex></span>
        <md-button
          class="md-accent"
          ng-click="$ctrl.deleteNamespace(n.id, $event)"
          ng-disabled="$ctrl.busy"
          aria-label="Delete kubernetes namespace">
          Delete
        </md-button>
      </md-card-actions>
    </md-card>

  </md-content>

</div>
