<div class="kubernetes-user-tokens-list">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h3>
        <span>Kubernetes User Tokens</span>
        <span ng-if="$ctrl.user">for {{$ctrl.user.name}}</span>
        <small class="badge" ng-if="$ctrl.user && !$ctrl.user.is_active" md-colors="{background: 'blue-grey'}">Deactivated</small>
      </h3>
      <span flex></span>

      <md-button
        ng-if="!$ctrl.loading && (!$ctrl.user || $ctrl.user.is_active)"
        aria-label="Add new token"
        ui-sref="kubernetes.user-tokens.new({userId: $ctrl.user.id})">
        <md-icon>{{$ctrl.addTokenIcon}}</md-icon>
        New
      </md-button>

      <md-menu>
        <md-button aria-label="Action menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
          <md-icon md-menu-origin md-svg-icon="menu"></md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button
              aria-label="Sync tokens"
              ui-sref="kubernetes.tokens-sync">
              <md-icon>{{$ctrl.syncTokensIcon}}</md-icon>
              Sync tokens
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button
              aria-label="Revoke token"
              ng-click="$ctrl.revokeToken($event)">
              <md-icon>{{$ctrl.revokeTokenIcon}}</md-icon>
              Revoke token
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </md-toolbar>

  <loading-indicator loading="$ctrl.loading || $ctrl.busy"></loading-indicator>

  <md-toolbar md-colors="{background: 'primary-50'}">
    <div class="md-toolbar-tools">
      <md-autocomplete
        md-selected-item-change="$ctrl.fetchUserAndTokens()"
        md-no-cache="true"
        md-selected-item="$ctrl.searchSelectedUser"
        md-search-text="$ctrl.searchText"
        md-items="user in $ctrl.searchUsers($ctrl.searchText)"
        md-item-text="user.name + ' (' + user.email + ')'"
        md-min-length="1"
        ng-model-options="{ debounce: 500 }"
        placeholder="Search for a user to view tokens…"
        flex>
        <md-item-template>
          <span md-highlight-text="$ctrl.searchText" md-highlight-flags="^i">
            {{user.name}}
            ({{user.email}})
          </span>
          <small class="badge" ng-if="!user.is_active" md-colors="{background: 'blue-grey'}">Deactivated</small>
        </md-item-template>
        <md-not-found>
          No users matching "{{$ctrl.searchText}}" were found.
        </md-not-found>
      </md-autocomplete>
      <md-button
        class="md-primary md-raised"
        aria-label="Find tokens for the selected user"
        ng-click="$ctrl.fetchUserAndTokens()"
        ng-disabled="!$ctrl.searchSelectedUser">
        Find
      </md-button>
    </div>
  </md-toolbar>

  <md-content>

    <kubernetes-token-card
      ng-repeat="t in $ctrl.tokens | orderBy: 'cluster.name' track by t.id"
      token="t"
      show-actions="true"
      busy="$ctrl.loading"
      after-update="$ctrl.fetchUserAndTokens()">
    </kubernetes-token-card>

    <md-card ng-if="!$ctrl.loading && $ctrl.user && $ctrl.tokens.length == 0">
      <md-card-content>
        <p class="md-body-1 none-text">
          {{$ctrl.user.name}} does not have any kubernetes access tokens yet.
          <br />
          <a ui-sref="kubernetes.user-tokens.new({userId: $ctrl.user.id})">You can generate a new token for them</a>
        </p>
      </md-card-content>
    </md-card>

    <md-card ng-if="!$ctrl.loading && !$ctrl.user">
      <md-card-content>
        <p class="md-body-1 none-text">
          To view tokens, first search for a user in the search box above.
        </p>
      </md-card-content>
    </md-card>

  </md-content>
</div>
