<div class="users-list">
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <h3>
        <span>All Users</span>
      </h3>
    </div>
  </md-toolbar>

  <loading-indicator loading="$ctrl.loading || $ctrl.saving"></loading-indicator>

  <md-content layout-padding ng-if="!$ctrl.loading && $ctrl.users.length > 0">

    <md-card ng-repeat="u in $ctrl.users track by u.id">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">
            {{u.name}}
            <small class="badge float-right" ng-if="u.role == 'admin'" md-colors="{background: 'accent'}">Admin</small>
            <small class="badge float-right" ng-if="!u.is_active" md-colors="{background: 'blue-grey'}">Deactivated</small>
          </span>
        </md-card-title-text>
      </md-card-title>

      <md-card-content>
        <p>
          {{u.email}}
        </p>
        <p>
          <span md-colors="{color: 'blue-grey-700'}">ID:</span> {{u.id}}
        </p>
        <p>
          <span md-colors="{color: 'blue-grey-700'}">Last seen at:</span> {{u.last_seen_at | date:'medium'}}
        </p>
        <p>
          <span md-colors="{color: 'blue-grey-700'}">Connected identities:</span> {{u.enabled_identities.join(', ')}}
        </p>
      </md-card-content>

      <md-card-actions layout="row" layout-align="start center">
        <md-button
          ng-if="$ctrl.isNotCurrentUser(u) && u.role != 'admin'"
          ng-disabled="!u.is_active"
          class="md-primary"
          aria-label="Make user an admin"
          ng-click="$ctrl.makeAdmin(u)">
          Make admin
        </md-button>
        <md-button
          ng-if="$ctrl.isNotCurrentUser(u) && u.role == 'admin'"
          ng-disabled="!u.is_active"
          class="md-primary"
          aria-label="Revoke admin status for user"
          ng-click="$ctrl.revokeAdmin(u)">
          Revoke admin
        </md-button>
        <md-button
          ng-if="$ctrl.isNotCurrentUser(u) && u.is_active"
          ng-disabled="$ctrl.saving"
          class="md-primary"
          aria-label="Deactivate user"
          ng-click="$ctrl.deactivateUser(u)">
          Deactivate
        </md-button>
        <md-button
          ng-if="$ctrl.isNotCurrentUser(u) && !u.is_active"
          ng-disabled="$ctrl.saving"
          class="md-primary"
          aria-label="Activate user"
          ng-click="$ctrl.activateUser(u)">
          Activate
        </md-button>
      </md-card-actions>
    </md-card>

  </md-content>
</div>
