<div class="users-list">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h3>
        <span>All Users</span>
      </h3>
    </div>
  </md-toolbar>

  <loading-indicator loading="$ctrl.loading || $ctrl.saving"></loading-indicator>

  <md-content
    paginated-list
    paginated-list-per-page="$ctrl.users.pagination.perPage"
    paginated-list-total="$ctrl.users.pagination.total"
    paginated-list-fetch="$ctrl.fetchUsers(page)">

    <md-card ng-repeat="u in $ctrl.users track by u.id">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">
            {{u.name}}
            <small class="badge float-right" ng-if="u.role == 'admin'" md-colors="{background: 'accent'}">Admin</small>
            <small class="badge float-right" ng-if="u.role == 'limited_admin'" md-colors="{background: 'accent-100'}">Limited Admin</small>
            <small class="badge float-right" ng-if="!u.is_active" md-colors="{background: 'blue-grey'}">Deactivated</small>
          </span>
        </md-card-title-text>
      </md-card-title>

      <md-card-content>
        <p
          ng-if="$ctrl.isCurrentUser(u)"
          class="md-body-2"
          md-colors="{color: 'accent'}">
          This is your account!
        </p>

        <p>
          {{u.email}}
        </p>
        <p>
          <span md-colors="{color: 'blue-grey-700'}">ID:</span> {{u.id}}
        </p>
        <p>
          <span md-colors="{color: 'blue-grey-700'}">Last seen at:</span> {{u.last_seen_at | date:'medium'}}
        </p>
        <p>
          <span md-colors="{color: 'blue-grey-700'}">Connected identities:</span> {{u.enabled_identities.join(', ')}}
        </p>
      </md-card-content>

      <md-card-actions layout="row" layout-align="start center">
        <md-menu ng-if="!$ctrl.isCurrentUser(u)">
          <md-button
            class="md-primary"
            ng-click="$mdMenu.open($event)"
            ng-disabled="!u.is_active"
            aria-label="Open user hub role menu">
            Hub Role
            <md-icon>arrow_drop_down</md-icon>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item>
              <md-button
                ng-click="$ctrl.toggleAdmin(u, $event)"
                ng-disabled="$ctrl.saving"
                aria-label="Toggle hub admin role">
                <md-icon
                  ng-if="u.role === 'admin'"
                  aria-label="User is currently a hub admin">
                  check
                </md-icon>
                <md-icon
                  ng-if="u.role !== 'admin'"
                  aria-label="User is currently not a hub admin">
                </md-icon>
                Hub Admin
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button
                ng-click="$ctrl.toggleLimitedAdmin(u, $event)"
                ng-disabled="$ctrl.saving"
                aria-label="Toggle hub limited admin role">
                <md-icon
                  ng-if="u.role === 'limited_admin'"
                  aria-label="User is currently a hub limited admin">
                  check
                </md-icon>
                <md-icon
                  ng-if="u.role !== 'limited_admin'"
                  aria-label="User is currently not a hub limited admin">
                </md-icon>
                Hub Limited Admin
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

        <span flex></span>

        <md-button
          ng-if="!$ctrl.isCurrentUser(u) && u.is_active"
          ng-disabled="$ctrl.saving"
          class="md-accent"
          aria-label="Deactivate user"
          ng-click="$ctrl.deactivateUser(u)">
          Deactivate
        </md-button>
        <md-button
          ng-if="!$ctrl.isCurrentUser(u) && !u.is_active"
          ng-disabled="$ctrl.saving"
          class="md-accent"
          aria-label="Activate user"
          ng-click="$ctrl.activateUser(u)">
          Activate
        </md-button>
      </md-card-actions>
    </md-card>

  </md-content>
</div>
