<div class="app-settings-form">
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <h3>
        Edit App Settings
      </h3>
    </div>
  </md-toolbar>

  <loading-indicator loading="$ctrl.loading || $ctrl.saving"></loading-indicator>

  <md-content layout-padding ng-if="!$ctrl.loading">

    <div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="md-whiteframe-z2" layout-padding>
      <p class="md-body-1" md-colors="{background: 'accent-50'}">
        <strong>Note:</strong>
        everything you set here is available publicly (via the API).
        Please don't put anything confidential/sensitive in these app settings.
      </p>

      <md-content>
        <form name="$ctrl.settingsForm" role="form" ng-submit="$ctrl.update()">

          <!-- Platform name -->
          <md-input-container class="md-block">
            <label for="platformName">Platform name:</label>
            <input
              name="platformName"
              ng-model="$ctrl.settings.platformName"
              required
              autofocus>
            <div ng-messages="$ctrl.settingsForm.platformName.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <hr />
          <br />

          <!-- Platform themes config -->
          <div>
            <h3 class="md-subhead">Platform themes</h3>
            <div
              sv-root class="multi-sortable"
              layout="row"
              layout-align="center start"
              layout-margin
              layout-padding>
            	<div
                flex
                class="sortable-container"
                sv-part="$ctrl.visiblePlatformThemes"
                md-colors="{background: 'blue-grey-50'}">
                <h4 class="text-center">Visible</h4>
                <div
                  ng-repeat="t in $ctrl.visiblePlatformThemes"
                  md-colors="{background: '{{t.colour}}'}"
                  sv-element
                  md-whiteframe="1"
                  class="item">
            			{{t.title}}
            		</div>
            	</div>
            	<div
                flex
                class="sortable-container"
                sv-part="$ctrl.hiddenPlatformThemes"
                md-colors="{background: 'blue-grey-50'}">
                <h4 class="text-center">Hidden</h4>
                <div
                  ng-repeat="t in $ctrl.hiddenPlatformThemes"
                  md-colors="{background: '{{t.colour}}'}"
                  sv-element
                  md-whiteframe="1"
                  class="item">
            			{{t.title}}
            		</div>
            	</div>
            </div>
          </div>

          <br />
          <br />
          <hr />
          <br />

          <!-- Platform overview -->
          <div>
            <h3 class="md-subhead">Platform overview</h3>

            <div layout-padding>
              <p class="md-body-1" md-colors="{background: 'accent-50'}">
                <strong>Important:</strong>
                this overview text (and any images in it) will be shown on the homepage for both logged in users AND visitors. Please don't put anything confidential/sensitive in here!
              </p>

              <br />

              <div layout-padding md-colors="{background: 'blue-grey-50'}">
                <div
                  medium-editor
                  bind-options="$ctrl.editorOptions"
                  ng-model="$ctrl.settings.platform_overview">
                </div>
              </div>

              <p class="md-body-1">
                <span><strong>Tip:</strong></span>
                this is a rich text editor – try highlighting some text for options
              </p>
            </div>
          </div>

          <br />
          <hr />
          <br />

          <!-- Terms of Service text -->
          <div>
            <h3 class="md-subhead">Terms of Service text</h3>

            <div class="layout-padding">
              <p class="md-body-1" md-colors="{background: 'accent-50'}">
                <strong>Important:</strong>
                this text will be available publically (via the API).
                Please don't put anything confidential/sensitive in this text.
              </p>

              <br />

              <div layout-padding md-colors="{background: 'blue-grey-50'}">
                <div
                  medium-editor
                  bind-options="$ctrl.editorOptions"
                  ng-model="$ctrl.settings.terms_of_service_text">
                </div>
              </div>

              <p class="md-body-1">
                <span><strong>Tip:</strong></span>
                this is a rich text editor – try highlighting some text for options
              </p>
            </div>
          </div>

          <br />
          <hr />
          <br />

          <!-- Other managed services -->
          <div>
            <h3 class="md-subhead">Other managed services to show</h3>

            <p class="none-text" ng-if="!$ctrl.settings.other_managed_services || $ctrl.settings.other_managed_services.length == 0">
              No other managed services specified yet
            </p>

            <md-card ng-repeat="service in $ctrl.settings.other_managed_services">
              <md-card-content>
                <md-input-container class="md-block" flex>
                  <label for="service{{$index}}-title">Title:</label>
                  <input
                    name="service{{$index}}-title"
                    ng-model="service.title"
                    placeholder="e.g. GitLab"
                    required>
                  <div ng-messages="$ctrl.settingsForm['service' + $index + '-title'].$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>

                <md-input-container class="md-block">
                  <label for="service{{$index}}-url">Link URL (optional):</label>
                  <input
                    type="url"
                    name="service{{$index}}-url"
                    ng-model="service.url"
                    aria-label="Optionally set a URL to link to the service">
                  <div ng-messages="$ctrl.settingsForm['service' + $index + '-url'].$error">
                    <div ng-message="url">Not a valid URL.</div>
                  </div>
                </md-input-container>
              </md-card-content>
              <md-card-actions layout="row" layout-align="end center">
                <md-button
                  aria-label="Remove this service"
                  ng-click="$ctrl.removeOtherManagedService($index)">
                  <md-icon md-colors="{color: 'accent'}">delete</md-icon>
                  Remove
                </md-button>
              </md-card-actions>
            </md-card>

            <div>
              <md-button
                class="md-raised"
                aria-label="Add new other managed service"
                ng-click="$ctrl.addOtherManagedService()">
                <md-icon>add_box</md-icon>
                Add new service
              </md-button>
            </div>
          </div>

          <br />
          <br />

          <div>
            <md-button
              type="submit"
              class="md-primary"
              ng-disabled="$ctrl.saving || !$ctrl.settingsForm.$valid"
              ng-class="{'md-raised': ($ctrl.settingsForm.$dirty && $ctrl.settingsForm.$valid) }"
              aria-label="Save app settings">
              Update
            </md-button>
            <md-button ui-sref="home" ng-disabled="$ctrl.saving">Cancel</md-button>
          </div>
        </form>
      </md-content>
    </div>

  </md-content>
</div>
