<div class="app-home">
  <md-content layout-padding>

    <h1 class="md-display-1 text-center">
      Welcome to the {{$ctrl.AppSettings.getAppTitle()}}
    </h1>

    <div ng-if="!$ctrl.isAuthenticated()" layout="row" layout-align="center center">
      <md-button class="md-primary md-raised" ng-click="$ctrl.login()">
        <md-icon>person</md-icon>
        Login
      </md-button>
    </div>

    <div ng-if="$ctrl.platformOverviewText">
      <br ng-if="!$ctrl.isAuthenticated()" />
      <div
        ng-if="$ctrl.platformOverviewText"
        layout-padding
        md-colors="{background: 'blue-grey-50'}">
        <div ng-bind-html="$ctrl.platformOverviewText"></div>
      </div>
      <br />
    </div>

    <div
      layout="row" layout-wrap layout-align="center center"
      ng-if="$ctrl.isAuthenticated() && $ctrl.PlatformThemes.visible.length > 0">
      <md-card
        ng-repeat="t in $ctrl.PlatformThemes.visible track by t.id"
        ui-sref="platform-themes.page({id: t.id})"
        style="width: 250px; cursor: pointer;">
        <div class="tinted-bar" md-colors="{background: '{{t.colour}}'}"></div>
        <img
          ng-src="{{t.image_url}}"
          class="md-card-image"
          alt="{{t.title}} icon" />
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{t.title}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p
            class="md-body-1"
            ng-bind-html='t.description | simpleFormat'>
          </p>
        </md-card-content>
      </md-card>
    </div>

    <div ng-if="$ctrl.isAuthenticated()" layout="row" layout-align="center center">
      <md-button ui-sref="help.faq" class="md-primary md-raised">View Frequently Asked Questions</md-button>
    </div>

  </md-content>
</div>
