<div class="app-home">
  <md-content layout-padding>

    <h2 class="md-display-1 text-center">
      Welcome to the {{$ctrl.AppSettings.getAppTitle()}}
    </h2>

    <div ng-if="!$ctrl.isAuthenticated()" layout="row" layout-align="center center">
      <md-button class="md-primary md-raised" ng-click="$ctrl.login()">
        <md-icon>person</md-icon>
        Login
      </md-button>
    </div>

    <div
      layout="row" layout-wrap layout-align="center center"
      ng-if="$ctrl.isAuthenticated() && $ctrl.PlatformThemesList.visible.length > 0">
      <md-card
        ng-repeat="t in $ctrl.PlatformThemesList.visible track by t.id"
        ui-sref="platform-themes.page({id: t.id})"
        style="width: 250px; cursor: pointer;">
        <div class="tinted-bar" md-colors="{background: '{{t.colour}}'}"></div>
        <img
          ng-src="{{t.image_url}}"
          class="md-card-image"
          alt="{{t.title}} icon" />
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{t.title}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p class="md-body-1">
            {{t.description}}
          </p>
        </md-card-content>
      </md-card>
    </div>

  </md-content>
</div>
