.app-menu-button {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
  cursor: pointer;
}

.app-shell {
  .nav {
    .active {
      color: darken(red, 35);
    }
  }
}
