<div class="app-shell" layout="column" layout-fill>

  <!-- Main header / toolbar -->
  <md-toolbar layout="row" class="md-toolbar-tools">
    <md-button
      class="app-menu-button md-icon-button"
      hide-gt-sm
      ng-click="$ctrl.toggleMenu()"
      aria-label="Show/hide menu">
      <md-icon md-svg-icon="menu"></md-icon>
    </md-button>
    <h1>DSP Platform Hub</h1>
  </md-toolbar>

  <!-- Sidebar + content area -->
  <div flex layout="row">

    <md-sidenav
      class="md-sidenav-left"
      md-component-id="left"
      md-whiteframe="4"
      md-is-locked-open="$mdMedia('gt-sm')"
      ng-click="$ctrl.toggleMenu()">

      <auth-card></auth-card>

      <md-content>
        <md-sidemenu role="navigation" class="nav">
          <md-sidemenu-group>
            <md-subheader class="md-no-sticky">My Account</md-subheader>

            <md-sidemenu-button
              ng-repeat="item in $ctrl.navStates"
              ui-sref="{{item.state}}"
              ui-sref-active="active">
              <md-icon ng-if="item.icon">{{item.icon}}</md-icon>
              <span>{{item.title}}</span>
            </md-sidemenu-button>
          </md-sidemenu-group>
        </md-sidemenu>
      </md-content>

    </md-sidenav>

    <md-content flex>
      <ui-view></ui-view>
    </md-content>

  </div>

</div>
