<div class="app-shell" layout="column" layout-fill>

  <!-- Main header / toolbar -->
  <md-toolbar layout="row">
    <div class="md-toolbar-tools">
      <md-button
        class="app-menu-button"
        hide-gt-sm
        ng-click="$ctrl.toggleMenu()"
        aria-label="Show/hide menu">
        <md-icon md-svg-icon="menu"></md-icon>
        Menu
      </md-button>
      <h1 flex>{{$ctrl.AppSettings.getAppTitle()}}</h1>
    </div>
  </md-toolbar>

  <!-- Sidebar + content area -->
  <div flex layout="row">

    <md-sidenav
      class="md-sidenav-left"
      md-component-id="left"
      md-whiteframe="4"
      md-is-locked-open="$mdMedia('gt-sm')"
      ng-click="$ctrl.toggleMenu()">

      <auth-card></auth-card>

      <md-content>
        <md-sidemenu role="navigation" class="nav" ng-if="$ctrl.isAuthenticated()">
          <md-sidemenu-group>
            <md-sidemenu-button
              ui-sref="home"
              ui-sref-active="active">
              <md-icon>home</md-icon>
              <span>Home</span>
            </md-sidemenu-button>

            <md-sidemenu-button
              ng-repeat="t in $ctrl.PlatformThemes.visible track by t.id"
              ui-sref="platform-themes.page({id: t.id})"
              ui-sref-active="active">
              <md-icon md-colors="{color: '{{t.colour}}'}">{{$ctrl.platformThemeIcon}}</md-icon>
              <span>{{t.title}}</span>
            </md-sidemenu-button>
          </md-sidemenu-group>

          <md-sidemenu-group>
            <md-subheader class="md-no-sticky">My Account</md-subheader>

            <md-sidemenu-button
              ng-repeat="item in $ctrl.myAccountNavStates"
              ui-sref="{{item.state}}"
              ui-sref-active="{ 'active': item.activeState || item.state }">
              <md-icon ng-if="item.icon">{{item.icon}}</md-icon>
              <span>{{item.title}}</span>
            </md-sidemenu-button>
          </md-sidemenu-group>

          <md-sidemenu-group>
            <md-subheader class="md-no-sticky">Org</md-subheader>

            <md-sidemenu-button
              ng-repeat="item in $ctrl.orgNavStates"
              ui-sref="{{item.state}}"
              ui-sref-active="{ 'active': item.activeState || item.state }">
              <md-icon ng-if="item.icon">{{item.icon}}</md-icon>
              <span>{{item.title}}</span>
            </md-sidemenu-button>
          </md-sidemenu-group>

          <md-sidemenu-group>
            <md-subheader class="md-no-sticky">Help &amp; Support</md-subheader>

            <md-sidemenu-button
              ng-repeat="item in $ctrl.helpNavStates"
              ui-sref="{{item.state}}"
              ui-sref-active="{ 'active': item.activeState || item.state }">
              <md-icon ng-if="item.icon">{{item.icon}}</md-icon>
              <span>{{item.title}}</span>
            </md-sidemenu-button>
          </md-sidemenu-group>

          <md-sidemenu-group ng-if="$ctrl.isAdmin">
            <md-subheader class="md-no-sticky">Admin</md-subheader>

            <md-sidemenu-button
              ng-repeat="item in $ctrl.adminNavStates"
              ui-sref="{{item.state}}"
              ui-sref-active="{ 'active': item.activeState || item.state }">
              <md-icon ng-if="item.icon">{{item.icon}}</md-icon>
              <span>{{item.title}}</span>
            </md-sidemenu-button>
          </md-sidemenu-group>
        </md-sidemenu>
      </md-content>

      <br />
      <br />

    </md-sidenav>

    <md-content flex>
      <ui-view></ui-view>
    </md-content>

  </div>

</div>
