<div class="hub-setup">
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <h2>
        Setup Your Hub Account
      </h2>
    </div>
  </md-toolbar>

  <loading-indicator loading="$ctrl.loading || $ctrl.saving"></loading-indicator>

  <md-content layout-padding ng-if="!$ctrl.loading">

    <div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="md-whiteframe-z2" layout-padding>
      <md-content>
        <form name="$ctrl.form" role="form" ng-submit="$ctrl.update()">

          <fieldset layout-padding>
            <legend>What does your role involve?</legend>

            <div>
              <md-checkbox
                name="is_managerial"
                ng-model="$ctrl.data.is_managerial"
                aria-label="Select this if your role involves managerial duties">
                <strong>Managerial</strong> duties (e.g.: managing schedules and people)
              </md-checkbox>

              <md-checkbox
                name="is_technical"
                ng-model="$ctrl.data.is_technical"
                aria-label="Select this if your role involves technical duties">
                <strong>Technical</strong> duties (e.g.: managing code repositories and builds)
              </md-checkbox>
            </div>

            <p class="md-body-1">
              This will determine what you <strong>see</strong> within the hub, but <strong>does not</strong> automatically give you more privileges etc.
            </p>
          </fieldset>

          <br />

          <div layout="row">
            <md-button
              type="submit"
              class="md-primary"
              ng-disabled="$ctrl.saving || !$ctrl.form.$valid"
              ng-class="{'md-raised': $ctrl.form.$valid }"
              aria-label="Confirm your hub setup">
              Confirm
            </md-button>
            <span flex></span>
            <md-button
              ng-if="!$ctrl.Me.data.flags.completed_services_onboarding"
              class="md-raised md-accent"
              ui-sref="onboarding.services"
              ng-disabled="$ctrl.saving">
              Continue to services onboarding
              <md-icon>forward</md-icon>
            </md-button>
          </div>
        </form>
      </md-content>
    </div>

  </md-content>
</div>
