<div class="terms-of-service">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>
        Agree to the platform Terms of Service
      </h2>
    </div>
  </md-toolbar>

  <loading-indicator loading="$ctrl.loading || $ctrl.saving"></loading-indicator>

  <md-content layout-padding ng-if="!$ctrl.loading">

    <div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="md-whiteframe-z1" layout-padding>

      <div layout-padding md-colors="{background: 'blue-grey-50'}">
        <div ng-bind-html="$ctrl.text"></div>
      </div>

      <br />

      <div ng-if="$ctrl.Me.data.flags.agreed_to_terms_of_service" class="text-center">
        <p class="md-body-2">
          <em>You have already agreed to the platform Terms of Service</em>
        </p>
      </div>

      <div ng-if="!$ctrl.Me.data.flags.agreed_to_terms_of_service" class="text-center">
        <p class="md-body-2">
          <em>You understand that this is a test environment and could be subject to breaking or unannounced changes. We will endevour to keep this environment running and supported however as this is not an ACP live environment we take no responsibility for lost data.</em>
        </p>
        <md-button class="md-primary md-raised" ng-click="$ctrl.agree()">
          I agree to the Terms of Service for this sandbox environment.
        </md-button>
      </div>

    </div>

  </md-content>
</div>
