<div class="projects-detail">
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <h3>
        <span>Project: </span>
        <span ng-cloak>{{$ctrl.project.shortname}}</span>
      </h3>
      <span flex></span>
      <md-button
        ng-if="$ctrl.isAdmin && $ctrl.project"
        aria-label="Edit this project"
        ui-sref="projects.edit({id: $ctrl.project.id})">
        <md-icon>edit</md-icon>
        Edit
      </md-button>
      <md-button
        ng-if="$ctrl.isAdmin && $ctrl.project"
        aria-label="Delete this project"
        ng-click="$ctrl.deleteProject($event)">
        <md-icon>delete</md-icon>
        Delete
      </md-button>
    </div>
  </md-toolbar>

  <loading-indicator loading="$ctrl.loading || $ctrl.processing"></loading-indicator>

  <md-content layout-padding ng-if="!$ctrl.loading && $ctrl.project">

    <div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="md-whiteframe-z2">
      <md-content layout-padding>
        <h3 class="md-title">
          {{$ctrl.project.name}}
          ({{$ctrl.project.shortname}})
        </h3>

        <p ng-if="!$ctrl.project.description" class="md-body-1 none-text">
          No description set
        </p>
        <p
          class="md-body-1"
          md-colors="{background: 'blue-grey-50'}"
          ng-if="$ctrl.project.description">
          {{$ctrl.project.description}}
        </p>

        <p class="md-body-1" ng-if="$ctrl.project.cost_centre_code">
          <span md-colors="{color: 'blue-grey-700'}">
            Cost centre code:
          </span>
          {{$ctrl.project.cost_centre_code}}
        </p>

        <br />

        <md-divider></md-divider>

        <div>
          <h4 class="md-subhead centred">Team members</h4>

          <p ng-if="$ctrl.memberships.length == 0" class="md-body-1 none-text centred">
            No team members yet.
            <span ng-if="$ctrl.isAdmin">Why not add some?</span>
          </p>

          <md-toolbar md-colors="{background: 'primary-50'}" ng-if="$ctrl.isAdmin || $ctrl.isProjectManager">
            <div class="md-toolbar-tools">
              <md-autocomplete
                md-no-cache="true"
                md-selected-item="$ctrl.searchSelectedUser"
                md-search-text="$ctrl.searchText"
                md-items="user in $ctrl.searchUsers($ctrl.searchText)"
                md-item-text="user.name"
                md-min-length="1"
                ng-model-options="{ debounce: 500 }"
                placeholder="Add a new team member"
                flex>
                <md-item-template>
                  <span md-highlight-text="$ctrl.searchText" md-highlight-flags="^i">
                    {{user.name}}
                    ({{user.email}})
                  </span>
                </md-item-template>
                <md-not-found>
                  No users matching "{{$ctrl.searchText}}" were found.
                </md-not-found>
              </md-autocomplete>
              <md-button
                class="md-primary md-raised"
                aria-label="Add the selected user to the project"
                ng-click="$ctrl.addMembership()"
                ng-disabled="!$ctrl.searchSelectedUser">
                Add
              </md-button>
            </div>
          </md-toolbar>

          <md-list ng-if="$ctrl.memberships.length > 0">
            <md-list-item
              class="md-2-line"
              ng-repeat="m in $ctrl.memberships">

              <div class="md-list-item-text">
                <h3>
                  {{m.user.name}}
                  <small class="badge" ng-if="m.role == 'manager'" md-colors="{background: 'accent'}">Manager</small>
                </h3>
                <h4>{{m.user.email}}</h4>
              </div>

              <md-menu class="md-secondary" ng-if="$ctrl.shouldShowActionsMenu(m)">
                <md-button class="md-primary">
                  Actions
                </md-button>
                <md-menu-content width="4">
                  <md-menu-item ng-if="$ctrl.allowOnboardOrOffboardGitHub(m)">
                    <md-button
                      ng-click="$ctrl.userOnboardGitHub(m.user.id, $event)"
                      aria-label="Onboard this user to the GitHub org and team">
                      Onboard GitHub
                    </md-button>
                  </md-menu-item>
                  <md-menu-item ng-if="$ctrl.allowOnboardOrOffboardGitHub(m)">
                    <md-button
                      ng-click="$ctrl.userOffboardGitHub(m.user.id, $event)"
                      aria-label="Offboard this user to the GitHub org and team">
                      Offboard GitHub
                    </md-button>
                  </md-menu-item>
                  <md-menu-item ng-if="$ctrl.isAdmin && m.role != 'manager'">
                    <md-button
                      ng-click="$ctrl.makeManager(m, $event)"
                      aria-label="Make this person a team manager">
                      Make manager
                    </md-button>
                  </md-menu-item>
                  <md-menu-item ng-if="$ctrl.isAdmin && m.role == 'manager'">
                    <md-button
                      ng-click="$ctrl.demoteManager(m, $event)"
                      aria-label="Demote this person from their team manager role">
                      Demote manager
                    </md-button>
                  </md-menu-item>
                  <md-menu-item ng-if="$ctrl.isAdmin || $ctrl.isProjectManager">
                    <md-button
                      ng-click="$ctrl.removeMembership(m, $event)"
                      aria-label="Remove this person from this project team">
                      Remove from team
                    </md-button>
                  </md-menu-item>

                  <md-divider></md-divider>

                  <md-menu-item ng-if="$ctrl.allowOnboardOrOffboardGitHub(m)">
                    <md-button
                      ng-click="$ctrl.offboardAndRemove(m, $event)"
                      md-colors="{color: 'accent'}"
                      aria-label="Offboard this user from GitHub and remove them from the team project in one go">
                      Offboard and remove from team
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>

            </md-list-item>
          </md-list>
        </div>
      </md-content>
    </div>

  </md-content>
</div>
