<div class="projects-detail">
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <h3 ng-if="$ctrl.project">
        <span>Project: </span>
        <span>{{$ctrl.project.shortname}}</span>
      </h3>
      <span flex></span>
      <md-button
        ng-if="$ctrl.isAdmin && $ctrl.project"
        aria-label="Edit this project"
        ui-sref="projects.edit({id: $ctrl.project.id})">
        <md-icon>edit</md-icon>
        Edit
      </md-button>
      <md-button
        ng-if="$ctrl.isAdmin && $ctrl.project"
        aria-label="Delete this project"
        ng-click="$ctrl.deleteProject($event)">
        <md-icon>delete</md-icon>
        Delete
      </md-button>
    </div>
  </md-toolbar>

  <loading-indicator loading="$ctrl.loading || $ctrl.processing"></loading-indicator>

  <md-content>
    <md-tabs
      ng-if="!$ctrl.loading && $ctrl.project"
      md-dynamic-height
      md-border-bottom>

      <md-tab id="overview-and-people-tab">
        <md-tab-label>Overview &amp; People</md-tab-label>
        <md-tab-body>
          <div layout-padding>
            <div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="md-whiteframe-z2">
              <md-content layout-padding>
                <h3 class="md-title">
                  {{$ctrl.project.name}}
                  ({{$ctrl.project.shortname}})
                </h3>

                <p ng-if="!$ctrl.project.description" class="md-body-1 none-text">
                  No description set
                </p>
                <p
                  class="md-body-1"
                  md-colors="{background: 'blue-grey-50'}"
                  ng-if="$ctrl.project.description"
                  ng-bind-html='$ctrl.project.description | simpleFormat'>
                </p>

                <p class="md-body-1" ng-if="$ctrl.project.cost_centre_code">
                  <span md-colors="{color: 'blue-grey-700'}">
                    Cost centre code:
                  </span>
                  {{$ctrl.project.cost_centre_code}}
                </p>

                <br />

                <md-divider></md-divider>

                <div>
                  <h4 class="md-subhead centred">Team members</h4>

                  <p ng-if="$ctrl.memberships.length == 0" class="md-body-1 none-text centred">
                    No team members yet.
                    <span ng-if="$ctrl.isAdmin">Why not add some?</span>
                  </p>

                  <md-toolbar md-colors="{background: 'primary-50'}" ng-if="$ctrl.isAdmin || $ctrl.isProjectManager">
                    <div class="md-toolbar-tools">
                      <md-autocomplete
                        md-no-cache="true"
                        md-selected-item="$ctrl.searchSelectedUser"
                        md-search-text="$ctrl.searchText"
                        md-items="user in $ctrl.searchUsers($ctrl.searchText)"
                        md-item-text="user.name"
                        md-min-length="1"
                        ng-model-options="{ debounce: 500 }"
                        placeholder="Add a new team member"
                        flex>
                        <md-item-template>
                          <span md-highlight-text="$ctrl.searchText" md-highlight-flags="^i">
                            {{user.name}}
                            ({{user.email}})
                          </span>
                        </md-item-template>
                        <md-not-found>
                          No users matching "{{$ctrl.searchText}}" were found.
                        </md-not-found>
                      </md-autocomplete>
                      <md-button
                        class="md-primary md-raised"
                        aria-label="Add the selected user to the project"
                        ng-click="$ctrl.addMembership()"
                        ng-disabled="!$ctrl.searchSelectedUser">
                        Add
                      </md-button>
                    </div>
                  </md-toolbar>

                  <md-list ng-if="$ctrl.memberships.length > 0">
                    <md-list-item
                      class="md-2-line"
                      ng-repeat="m in $ctrl.memberships track by m.user.id">

                      <div class="md-list-item-text">
                        <h3>
                          {{m.user.name}}
                          <small class="badge" ng-if="m.role == 'manager'" md-colors="{background: 'accent'}">Manager</small>
                          <small class="badge" ng-if="!m.user.is_active" md-colors="{background: 'blue-grey'}">Deactivated</small>
                        </h3>
                        <h4>{{m.user.email}}</h4>
                      </div>

                      <md-menu class="md-secondary" ng-if="$ctrl.shouldShowActionsMenu(m)">
                        <md-button class="md-primary">
                          Actions
                        </md-button>
                        <md-menu-content width="4">
                          <md-menu-item ng-if="$ctrl.allowOnboardOrOffboardGitHub(m)">
                            <md-button
                              ng-if="m.user.is_active"
                              ng-click="$ctrl.userOnboardGitHub(m.user.id, $event)"
                              aria-label="Onboard this user to the GitHub org and team">
                              Onboard GitHub
                            </md-button>
                          </md-menu-item>
                          <md-menu-item ng-if="$ctrl.allowOnboardOrOffboardGitHub(m)">
                            <md-button
                              ng-if="m.user.is_active"
                              ng-click="$ctrl.userOffboardGitHub(m.user.id, $event)"
                              aria-label="Offboard this user to the GitHub org and team">
                              Offboard GitHub
                            </md-button>
                          </md-menu-item>
                          <md-menu-item ng-if="$ctrl.isAdmin && m.role != 'manager'">
                            <md-button
                              ng-if="m.user.is_active"
                              ng-click="$ctrl.makeManager(m, $event)"
                              aria-label="Make this person a team manager">
                              Make manager
                            </md-button>
                          </md-menu-item>
                          <md-menu-item ng-if="$ctrl.isAdmin && m.role == 'manager'">
                            <md-button
                              ng-if="m.user.is_active"
                              ng-click="$ctrl.demoteManager(m, $event)"
                              aria-label="Demote this person from their team manager role">
                              Demote manager
                            </md-button>
                          </md-menu-item>
                          <md-menu-item ng-if="$ctrl.isAdmin || $ctrl.isProjectManager">
                            <md-button
                              ng-click="$ctrl.removeMembership(m, $event)"
                              aria-label="Remove this person from this project team">
                              Remove from team
                            </md-button>
                          </md-menu-item>

                          <md-divider></md-divider>

                          <md-menu-item ng-if="$ctrl.allowOnboardOrOffboardGitHub(m)">
                            <md-button
                              ng-click="$ctrl.offboardAndRemove(m, $event)"
                              md-colors="{color: 'accent'}"
                              aria-label="Offboard this user from GitHub and remove them from the team project in one go">
                              Offboard and remove from team
                            </md-button>
                          </md-menu-item>
                        </md-menu-content>
                      </md-menu>

                    </md-list-item>
                  </md-list>
                </div>
              </md-content>
            </div>
          </div>
        </md-tab-body>
      </md-tab>

      <md-tab
        id="services-tab"
        ng-disabled="!$ctrl.shouldShowServicesTab()"
        md-on-select="$ctrl.loadServices()">
        <md-tab-label>Services</md-tab-label>
        <md-tab-body>
          <loading-indicator loading="$ctrl.loadingServices"></loading-indicator>

          <div
            ng-if="$ctrl.shouldShowCreateServiceButton()"
            layout="row"
            layout-align="center center">
            <md-button
              class="md-primary md-raised"
              aria-label="Create a new service for this project"
              ui-sref="projects.services.new({projectId: $ctrl.project.id})">
              <md-icon>add_box</md-icon>
              Create a New Service
            </md-button>
          </div>

          <div ng-if="$ctrl.services.length == 0" layout-padding>
            <p class="md-body-1 none-text text-center">
              No services created yet
            </p>
          </div>

          <md-card ng-repeat="s in $ctrl.services track by s.id">
            <md-card-title>
              <span class="md-headline">{{s.name}}</span>
            </md-card-title>
            <md-card-content>
              <p
                class="md-body-1"
                md-colors="{background: 'blue-grey-50'}"
                ng-if="s.description"
                ng-bind-html='s.description | simpleFormat'
                layout-padding>
              </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="start center">
              <md-button
                class="md-primary"
                aria-label="View details for this project service"
                ui-sref="projects.services.detail({projectId: $ctrl.project.id, id: s.id})">
                Details
              </md-button>
            </md-card-actions>
          </md-card>
        </md-tab-body>
      </md-tab>

      <md-tab
        id="kube-user-tokens-tab"
        ng-if="$ctrl.isAdmin || $ctrl.isProjectManager"
        md-on-select="$ctrl.loadKubernetesUserTokens()">
        <md-tab-label>Kube User Tokens</md-tab-label>
        <md-tab-body>
          <loading-indicator loading="$ctrl.processingKubernetesUserTokens"></loading-indicator>

          <p
            ng-if="!$ctrl.memberships.length"
            class="md-body-1 none-text">
            This project has no team members yet
          </p>

          <div ng-if="$ctrl.memberships.length > 0">
            <md-toolbar md-colors="{background: 'primary-50'}">
              <div class="md-toolbar-tools">
                <md-select
                  ng-model="$ctrl.kubernetesUserTokensSelectedUser"
                  placeholder="Select a project team member"
                  aria-label="Select a user to see their tokens for this project">
                  <md-option
                    ng-repeat="m in $ctrl.memberships track by m.user.id"
                    value="{{m.user.id}}">
                    {{m.user.name}} ({{m.user.email}})
                  </md-option>
                </md-select>
              </div>
            </md-toolbar>

            <div
              layout="row"
              layout-align="center center"
              ng-if="$ctrl.kubernetesUserTokensSelectedUser">
              <md-button
                class="md-primary md-raised"
                aria-label="Create a new Kubernetes token for this user"
                ui-sref="kubernetes.user-tokens.new({userId: $ctrl.kubernetesUserTokensSelectedUser, fromProject: $ctrl.project.id})">
                Create a new Kubernetes user token for this user
              </md-button>
            </div>

            <md-card
              ng-if="$ctrl.kubernetesUserTokensSelectedUser"
              ng-repeat="t in $ctrl.kubernetesUserTokens | orderBy: 'cluster.name' | filter: { user: { id: $ctrl.kubernetesUserTokensSelectedUser } } track by t.id">
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">
                    {{t.cluster.name}} cluster
                  </span>
                </md-card-title-text>
              </md-card-title>

              <md-card-content>
                <p class="md-body-1">
                  <strong>Cluster:</strong> {{t.cluster.name}}
                </p>
                <p class="md-body-1">
                  <strong>Token:</strong> <kubernetes-token-value item="t"></kubernetes-token-value>
                </p>
                <p class="md-body-1">
                  <strong>UID:</strong> {{t.uid}}
                </p>
                <p class="md-body-1">
                  <strong>Groups:</strong>
                  <span ng-if="t.groups && t.groups.length > 0">
                    {{t.groups.join(', ')}}
                  </span>
                  <span ng-if="!t.groups.length" class="none-text">
                    no RBAC groups assigned to this token
                  </span>
                </p>
                <p
                  class="md-body-1"
                  ng-if="t.expire_privileged_at"
                  md-colors="{color: 'accent'}">
                  <strong>Escalated privilege ends at:</strong>
                  {{t.expire_privileged_at | date:'EEE MMM d y HH:mm UTC':'UTC'}}
                  (<span am-time-ago="t.expire_privileged_at"></span>)
                </p>
              </md-card-content>

              <md-card-actions layout="row" layout-align="start center">
                <md-button
                  ng-if="t.user.is_active"
                  class="md-primary"
                  aria-label="View and edit details for this token"
                  ui-sref="kubernetes.user-tokens.edit({userId: t.user.id, tokenId: t.id, fromProject: $ctrl.project.id})">
                  View and edit
                </md-button>
                <md-button
                  ng-click="$ctrl.deleteKubernetesUserToken(t.id, $event)"
                  aria-label="Remove kubernetes user token">
                  Delete
                </md-button>
              </md-card-actions>
            </md-card>
          </div>
        </md-tab-body>
      </md-tab>

    </md-tabs>
  </md-content>
</div>
