<div class="projects-detail">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h3 ng-if="$ctrl.project">
        <span>Project: </span>
        <span>{{$ctrl.project.shortname}}</span>
      </h3>
      <span flex></span>
      <md-button
        ng-if="$ctrl.isAdmin && $ctrl.project"
        aria-label="Edit this project"
        ui-sref="projects.edit({id: $ctrl.project.id})">
        <md-icon>edit</md-icon>
        Edit
      </md-button>
      <md-button
        ng-if="$ctrl.isAdmin && $ctrl.project"
        aria-label="Delete this project"
        ng-click="$ctrl.deleteProject($event)">
        <md-icon>delete</md-icon>
        Delete
      </md-button>
    </div>
  </md-toolbar>

  <loading-indicator loading="$ctrl.loading || $ctrl.processing"></loading-indicator>

  <md-content>
    <md-tabs
      ng-if="!$ctrl.loading && $ctrl.project"
      md-dynamic-height
      md-border-bottom>

      <md-tab id="overview-and-people-tab">
        <md-tab-label>Overview &amp; People</md-tab-label>
        <md-tab-body>
          <div layout-padding>
            <div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50">
              <md-content layout-padding>
                <h3 class="md-title">
                  {{$ctrl.project.name}}
                  ({{$ctrl.project.shortname}})
                </h3>

                <p ng-if="!$ctrl.project.description" class="md-body-1 none-text">
                  No description set
                </p>
                <p
                  class="md-body-1"
                  md-colors="{background: 'blue-grey-50'}"
                  ng-if="$ctrl.project.description"
                  ng-bind-html='$ctrl.project.description | simpleFormat'>
                </p>

                <p class="md-body-1" ng-if="$ctrl.project.cost_centre_code">
                  <span md-colors="{color: 'blue-grey-700'}">
                    Cost centre code:
                  </span>
                  {{$ctrl.project.cost_centre_code}}
                </p>

                <br />

                <md-divider></md-divider>

                <div>
                  <h4 class="md-subhead centred">Team members</h4>

                  <p ng-if="$ctrl.memberships.length == 0" class="md-body-1 none-text centred">
                    No team members yet.
                    <span ng-if="$ctrl.isAdmin">Why not add some?</span>
                  </p>

                  <md-toolbar md-colors="{background: 'primary-50'}" ng-if="$ctrl.isAdmin || $ctrl.isProjectAdmin">
                    <div class="md-toolbar-tools">
                      <md-autocomplete
                        md-no-cache="true"
                        md-selected-item="$ctrl.searchSelectedUser"
                        md-search-text="$ctrl.searchText"
                        md-items="user in $ctrl.searchUsers($ctrl.searchText)"
                        md-item-text="user.name"
                        md-min-length="1"
                        ng-model-options="{ debounce: 500 }"
                        placeholder="Add a new team member"
                        flex>
                        <md-item-template>
                          <span md-highlight-text="$ctrl.searchText" md-highlight-flags="^i">
                            {{user.name}}
                            ({{user.email}})
                          </span>
                        </md-item-template>
                        <md-not-found>
                          No users matching "{{$ctrl.searchText}}" were found.
                        </md-not-found>
                      </md-autocomplete>
                      <md-button
                        class="md-primary md-raised"
                        aria-label="Add the selected user to the project"
                        ng-click="$ctrl.addMembership()"
                        ng-disabled="!$ctrl.searchSelectedUser">
                        Add
                      </md-button>
                    </div>
                  </md-toolbar>

                  <md-list ng-if="$ctrl.memberships.length > 0">
                    <md-list-item
                      class="md-2-line"
                      ng-repeat="m in $ctrl.memberships | orderBy:'role' track by m.user.id">

                      <div class="md-list-item-text">
                        <h3>
                          {{m.user.name}}
                          <small class="badge" ng-if="m.role == 'admin'" md-colors="{background: 'accent'}">Admin</small>
                          <small class="badge" ng-if="!m.user.is_active" md-colors="{background: 'blue-grey'}">Deactivated</small>
                        </h3>
                        <h4>{{m.user.email}}</h4>
                      </div>

                      <md-menu class="md-secondary" ng-if="$ctrl.shouldShowActionsMenu(m)">
                        <md-button class="md-primary">
                          Actions
                          <md-icon>arrow_drop_down</md-icon>
                        </md-button>
                        <md-menu-content width="4">
                          <md-menu-item ng-if="m.user.is_active && $ctrl.allowOnboardOrOffboardGitHub(m)">
                            <md-button
                              ng-click="$ctrl.userOnboardGitHub(m.user.id, $event)"
                              aria-label="Onboard this user to the GitHub org and team">
                              Onboard GitHub
                            </md-button>
                          </md-menu-item>
                          <md-menu-item ng-if="m.user.is_active && $ctrl.allowOnboardOrOffboardGitHub(m)">
                            <md-button
                              ng-click="$ctrl.userOffboardGitHub(m.user.id, $event)"
                              aria-label="Offboard this user from the GitHub org and team">
                              Offboard GitHub
                            </md-button>
                          </md-menu-item>
                          <md-menu-item ng-if="m.user.is_active && $ctrl.isAdmin && m.role != 'admin'">
                            <md-button
                              ng-click="$ctrl.makeAdmin(m, $event)"
                              aria-label="Make this person a project admin">
                              Make admin
                            </md-button>
                          </md-menu-item>
                          <md-menu-item ng-if="m.user.is_active && $ctrl.isAdmin && m.role == 'admin'">
                            <md-button
                              ng-click="$ctrl.demoteAdmin(m, $event)"
                              aria-label="Demote this person from their project admin role">
                              Demote admin
                            </md-button>
                          </md-menu-item>
                          <md-menu-item ng-if="$ctrl.isAdmin || $ctrl.isProjectAdmin">
                            <md-button
                              ng-click="$ctrl.removeMembership(m, $event)"
                              aria-label="Remove this person from this project team">
                              Remove from team
                            </md-button>
                          </md-menu-item>

                          <md-divider></md-divider>

                          <md-menu-item ng-if="$ctrl.allowOnboardOrOffboardGitHub(m)">
                            <md-button
                              ng-click="$ctrl.offboardAndRemove(m, $event)"
                              md-colors="{color: 'accent'}"
                              aria-label="Offboard this user from GitHub and remove them from the team project in one go">
                              Offboard and remove from team
                            </md-button>
                          </md-menu-item>
                        </md-menu-content>
                      </md-menu>

                    </md-list-item>
                  </md-list>
                </div>
              </md-content>
            </div>
          </div>
        </md-tab-body>
      </md-tab>

      <md-tab
        id="services-tab"
        ng-disabled="!$ctrl.shouldEnableServicesTab()"
        md-on-select="$ctrl.loadServices()">
        <md-tab-label>Services</md-tab-label>
        <md-tab-body>
          <loading-indicator loading="$ctrl.loadingServices"></loading-indicator>

          <div
            layout="row"
            layout-align="center center">
            <md-button
              class="md-primary md-raised"
              ng-disabled="!$ctrl.shouldEnableCreateServiceButton()"
              aria-label="Create a new service for this project"
              ui-sref="projects.services.new({projectId: $ctrl.project.id})">
              <md-icon>add_box</md-icon>
              Create a New Service
            </md-button>
          </div>

          <div ng-if="$ctrl.services.length == 0" layout-padding>
            <p class="md-body-1 none-text text-center">
              No services created yet
            </p>
          </div>

          <md-card ng-repeat="s in $ctrl.services track by s.id">
            <md-card-title>
              <span class="md-headline">{{s.name}}</span>
            </md-card-title>
            <md-card-content>
              <p
                class="md-body-1"
                md-colors="{background: 'blue-grey-50'}"
                ng-if="s.description"
                ng-bind-html='s.description | simpleFormat'
                layout-padding>
              </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="start center">
              <md-button
                class="md-primary"
                aria-label="View details for this project service"
                ui-sref="projects.services.detail({projectId: $ctrl.project.id, id: s.id})">
                Details
              </md-button>
            </md-card-actions>
          </md-card>
        </md-tab-body>
      </md-tab>

      <md-tab
        id="docker-repos-tab"
        ng-if="$ctrl.FeatureFlags.isEnabled($ctrl.featureFlagKeys.dockerRepos)"
        ng-disabled="!$ctrl.shouldEnableDockerReposTab()"
        md-on-select="$ctrl.loadDockerRepos()">
        <md-tab-label>All Docker Repos</md-tab-label>
        <md-tab-body>
          <loading-indicator loading="$ctrl.loadingDockerRepos"></loading-indicator>

          <div
            layout="row"
            layout-align="center center">
            <md-button
              class="md-primary md-raised"
              aria-label="Create a new Docker repo for this project"
              ui-sref="projects.docker-repos.new({projectId: $ctrl.project.id})">
              <md-icon>add_box</md-icon>
              Request New Docker Repo
            </md-button>
          </div>

          <div ng-if="$ctrl.dockerRepos.length == 0" layout-padding>
            <p class="md-body-1 none-text text-center">
              No Docker repos created yet
            </p>
          </div>

          <md-card ng-repeat="d in $ctrl.dockerRepos track by d.id">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">
                  <small
                    class="badge float-right"
                    md-colors="{background: 'blue-grey'}">
                    {{d.provider}}
                  </small>

                  <small
                    class="badge float-right"
                    ng-if="d.status == 'pending'"
                    md-colors="{background: 'blue'}">
                    Pending
                  </small>
                  <small
                    class="badge float-right"
                    ng-if="d.status == 'active'"
                    md-colors="{background: 'green'}">
                    Active
                  </small>
                  <small
                    class="badge float-right"
                    ng-if="d.status == 'deleting'"
                    md-colors="{background: 'accent'}">
                    Deleting
                  </small>

                  <span>
                    <span>{{d.name}}</span>
                    <br ng-if="d.url" />
                    <span
                      class="md-body-1"
                      ng-if="d.url">
                      <a ng-href="{{d.url}}" target="_blank">
                        {{d.url}}
                      </a>
                    </span>
                  </span>
                </span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <p class="md-body-1">
                <span md-colors="{color: 'blue-grey-700'}">
                  For project service:
                </span>
                <strong>
                  <a ui-sref="projects.services.detail({projectId: $ctrl.project.id, id: d.service.id})">
                    {{d.service.name}}
                  </a>
                </strong>
              </p>

              <p
                class="md-body-1"
                md-colors="{background: 'blue-grey-50'}"
                ng-if="d.description"
                ng-bind-html='d.description | simpleFormat'
                layout-padding>
              </p>

              <p class="md-body-1">
                <span md-colors="{color: 'blue-grey-700'}">
                  Requested at:
                </span>
                <span>{{d.created_at | date:'EEE MMM d y HH:mm UTC':'UTC'}}</span>
                <span class="separator">|</span>
                <span md-colors="{color: 'blue-grey-700'}">
                  Updated at:
                </span>
                <span>{{d.updated_at | date:'EEE MMM d y HH:mm UTC':'UTC'}}</span>
              </p>

              <md-expansion-panel
                md-component-id="dockerRepo-{{d.name}}-access">
                <md-expansion-panel-collapsed>
                  <div class="md-title">Access</div>
                  <div class="md-summary">
                    <ng-pluralize
                      count="d.access.robots.length"
                      when="{'0': '0 robots',
                      '1': '1 robot',
                      'other': '{} robots'}">
                    </ng-pluralize>
                    <span class="separator"></span>
                    <ng-pluralize
                      count="d.access.users.length"
                      when="{'0': '0 users',
                      '1': '1 user',
                      'other': '{} users'}">
                    </ng-pluralize>
                  </div>
                  <md-expansion-panel-icon></md-expansion-panel-icon>
                </md-expansion-panel-collapsed>

                <md-expansion-panel-expanded>
                  <md-expansion-panel-header>
                    <div class="md-title">Access</div>
                    <div class="md-summary">
                      <ng-pluralize
                        count="d.access.robots.length"
                        when="{'0': '0 robots',
                        '1': '1 robot',
                        'other': '{} robots'}">
                      </ng-pluralize>
                      <span class="separator"></span>
                      <ng-pluralize
                        count="d.access.users.length"
                        when="{'0': '0 users',
                        '1': '1 user',
                        'other': '{} users'}">
                      </ng-pluralize>
                    </div>
                    <md-expansion-panel-icon></md-expansion-panel-icon>
                  </md-expansion-panel-header>
                  <md-expansion-panel-content>
                    <h3 class="md-subhead">Robot accounts</h3>
                    <p
                      ng-if="!d.access.robots.length"
                      class="md-body-1 none-text">
                      None
                    </p>
                    <md-list ng-if="d.access.robots.length" flex>
                      <md-list-item class="md-2-line" ng-repeat="r in d.access.robots">
                        <div class="md-list-item-text" flex>
                          <h3>{{r.username}}</h3>
                          <p>
                            Status: {{r.status}}
                          </p>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                      </md-list-item>
                    </md-list>

                    <br />

                    <h3 class="md-subhead">Project team members</h3>
                    <p
                      ng-if="!d.access.users.length"
                      class="md-body-1 none-text">
                      None
                    </p>
                    <md-list ng-if="d.access.users.length" flex>
                      <md-list-item class="md-2-line" ng-repeat="u in d.access.users">
                        <div class="md-list-item-text" flex>
                          <h3>{{u.username}}</h3>
                          <p>
                            <span>Write access? {{u.writable}}</span>
                            <span class="separator">|</span>
                            <span>Status: {{u.status}}</span>
                          </p>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                      </md-list-item>
                    </md-list>
                  </md-expansion-panel-content>
                </md-expansion-panel-expanded>
              </md-expansion-panel>
            </md-card-content>
            <md-card-actions layout="row" layout-align="start center">
              <md-button
                ng-disabled="d.status != 'active'"
                aria-label="Manage the access for this Docker repo"
                ng-click="$ctrl.dockerRepoManageAccess(d, $event)">
                Manage Access
              </md-button>
              <span flex></span>
              <md-button
                class="md-accent"
                ng-if="d.status != 'deleting'"
                ng-disabled="$ctrl.processing"
                aria-label="Delete this Docker repo"
                ng-click="$ctrl.deleteDockerRepo(d, $event)">
                Delete
              </md-button>
            </md-card-actions>
          </md-card>
        </md-tab-body>
      </md-tab>

      <md-tab
        id="kube-user-tokens-tab"
        ng-if="$ctrl.FeatureFlags.isEnabled($ctrl.featureFlagKeys.kubernetesTokens)"
        ng-disabled="!$ctrl.shouldEnableKubernetesUserTokensTab()"
        md-on-select="$ctrl.loadKubernetesUserTokens()">
        <md-tab-label>Kube User Tokens</md-tab-label>
        <md-tab-body>
          <loading-indicator loading="$ctrl.processingKubernetesUserTokens"></loading-indicator>

          <p
            ng-if="!$ctrl.memberships.length"
            class="md-body-1 none-text">
            This project has no team members yet
          </p>

          <div ng-if="$ctrl.memberships.length > 0">

            <md-toolbar md-colors="{background: 'primary-50'}">
              <div class="md-toolbar-tools">
                <md-select
                  ng-model="$ctrl.kubernetesUserTokensSelectedUser"
                  placeholder="Select a project team member"
                  aria-label="Select a user to see their tokens for this project">
                  <md-option
                    ng-repeat="m in $ctrl.memberships track by m.user.id"
                    value="{{m.user.id}}">
                    {{m.user.name}} ({{m.user.email}})
                  </md-option>
                </md-select>
              </div>
            </md-toolbar>

            <div
              layout="row"
              layout-align="center center"
              ng-if="$ctrl.kubernetesUserTokensSelectedUser">
              <md-button
                class="md-primary md-raised"
                aria-label="Create a new Kubernetes token for this user"
                ui-sref="kubernetes.user-tokens.new({userId: $ctrl.kubernetesUserTokensSelectedUser, fromProject: $ctrl.project.id})">
                Create a new Kubernetes user token for this user
              </md-button>
            </div>

            <kubernetes-token-card
              ng-repeat="t in $ctrl.kubernetesUserTokens | orderBy: 'cluster.name' | filter: $ctrl.kubernetesUserTokensSelectedUser && { user: { id: $ctrl.kubernetesUserTokensSelectedUser } } track by t.id"
              token="t"
              show-actions="true"
              busy="$ctrl.processingKubernetesUserTokens"
              after-update="$ctrl.loadKubernetesUserTokens()"
              from-project="$ctrl.project.id">
            </kubernetes-token-card>

          </div>
        </md-tab-body>
      </md-tab>

      <md-tab
        id="bills-tab"
        ng-disabled="!$ctrl.shouldEnableBillsTab()"
        md-on-select="$ctrl.loadBills()">
        <md-tab-label>Bills</md-tab-label>
        <md-tab-body>
          <loading-indicator loading="$ctrl.loadingBills"></loading-indicator>

          <div
            ng-if="!$ctrl.loadingBills && !$ctrl.bills.length"
            class="text-center none-text md-body-1">
            <br />
            No bills are currently available
          </div>

          <md-card
            ng-if="$ctrl.bills.length"
            ng-repeat="b in $ctrl.bills track by b.year+b.month">
            <md-card-title>
              <md-card-title-text>
                <span class="md-title">
                  {{b.year}}
                  {{b.month}}
                </span>
              </md-card-title-text>
            </md-card-title>

            <md-card-content>
              <project-bill-breakdown
                bills="b.bills"
                main-shared-services="b.config.ui.main_shared_services"
                expanded="$ctrl.billsExpanded">
              </project-bill-breakdown>
            </md-card-content>
          </md-card>

        </md-tab-body>
      </md-tab>

    </md-tabs>

  </md-content>
</div>
