<div class="announcement-templates-list">
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <h3>
        <span>All Announcement Templates</span>
      </h3>
      <span flex></span>
      <md-button
        aria-label="Add new announcement template"
        ui-sref="announcements.templates.new">
        <md-icon>add_box</md-icon>
        New
      </md-button>
    </div>
  </md-toolbar>

  <loading-indicator loading="$ctrl.loading"></loading-indicator>

  <md-content layout-padding ng-if="!$ctrl.loading && $ctrl.templates.length > 0">

    <md-card ng-repeat="t in $ctrl.templates track by t.id">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">
            {{t.shortname}}
          </span>
        </md-card-title-text>
      </md-card-title>

      <md-card-content>
        <p
          class="md-body-1"
          md-colors="{background: 'blue-grey-50'}"
          ng-if="t.description"
          ng-bind-html='t.description | simpleFormat'
          layout-padding>
        </p>

        <p class="md-body-1">
          <span md-colors="{color: 'blue-grey-700'}">
            <ng-pluralize
              count="t.spec.fields.length"
              when="{'0': 'No fields specified',
              '1': '1 field specified: ',
              'other': '{} fields specified: '}">
            </ng-pluralize>
          </span>

          <span ng-repeat="f in t.spec.fields track by f.id">
            <span>{{f.id}}</span><span ng-if="!$last">, </span>
          </span>
        </p>

        <div>
          <p class="md-body-1" md-colors="{color: 'blue-grey-700'}">
            Title template:
          </p>
          <p
            class="md-body-1"
            md-colors="{background: 'blue-grey-50'}"
            ng-bind-html='t.spec.templates.title | simpleFormat'
            layout-padding>
          </p>
        </div>
      </md-card-content>

      <md-card-actions layout="row" layout-align="start center">
        <md-button
          class="md-primary"
          aria-label="View details of this announcement template"
          ui-sref="announcements.templates.detail({id: t.id})">
          Details
        </md-button>
      </md-card-actions>
    </md-card>

  </md-content>
</div>
