html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.close-button {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
  cursor: pointer;
}

.badge {
  padding: 0.2em 0.5em;
  border-radius: 0.3em;
}

.float-right {
  float: right;
}

.none-text {
  font-style: italic;
  color: #777;
}

.centred {
  text-align: center;
}

.md-button.md-icon-button.input-button-end {
  margin-top: 1em;
}
