html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

fieldset {
  border-color: rgba(black, 0.2);

  > legend {
    padding: 0 0.33em;
  }
}

.close-button {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
  cursor: pointer;
}

.badge {
  padding: 0.2em 0.5em;
  border-radius: 0.3em;
  margin-left: 0.66em;
}

.float-right {
  float: right;
}

.none-text {
  font-style: italic;
  color: #777;
}

.text-center,
.centred {
  text-align: center;
}

.separator {
  margin: 0 0.66em;
}

.md-button.md-icon-button.input-button-end {
  margin-top: 1em;
}


.tinted-bar {
  height: 1em;
}

md-card,
.md-card {
  .tinted-bar {
    border-radius: 2px 2px 0 0;
  }
}

.layout-padding > * > .tinted-bar {
  margin: -8px -8px 0 -8px;
}


.floated-image-container-right {
  float: right;
  width: 120px;

  > img {
    width: 100%;
    height: auto;
  }
}

.multi-sortable {
  height: 400px;

  .sortable-container {
    overflow: auto;
    height: 100%;
    border-radius: 3px;

    .item {
      background: white;
      cursor: grab;
      border-radius: 3px;
      padding: 0.5em 0.75em;

      &:not(:last-child) {
        margin-bottom: 0.65em;
      }
    }
  }
}
