<div class="announcements-editor-list">
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <h3>
        <span>All Announcements</span>
      </h3>
      <span flex></span>
      <md-button
        aria-label="Add new announcement"
        ui-sref="announcements.editor.new">
        <md-icon>add_box</md-icon>
        New
      </md-button>
    </div>
  </md-toolbar>

  <loading-indicator loading="$ctrl.loading || $ctrl.processing"></loading-indicator>

  <md-content layout-padding ng-if="!ctrl.loading && $ctrl.Announcements.all.length == 0">
    <p class="md-body-2 none-text text-center">
      No announcements created yet
    </p>
  </md-content>

  <md-content layout-padding ng-if="!$ctrl.loading && $ctrl.Announcements.all.length > 0">

    <md-card
      ng-repeat="a in $ctrl.Announcements.all track by a.id"
      ng-init="template = $ctrl.AnnouncementTemplates.lookup(a.original_template_id)"
      md-colors="$ctrl.Announcements.isPublished(a) ? {background: 'blue-grey-50'} : {}">
      <div class="tinted-bar" md-colors="{background: '{{a.colour}}'}"></div>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">
            <md-icon md-colors="{color: '{{a.colour}}'}">
              {{$ctrl.announcementIcon}}
            </md-icon>

            <small
              class="badge float-right"
              ng-if="a.is_global"
              md-colors="{background: 'blue'}">
              Global
            </small>
            <small
              class="badge float-right"
              ng-if="a.is_sticky"
              md-colors="{background: 'accent'}">
              Sticky
            </small>
            <small
              class="badge float-right"
              ng-if="$ctrl.Announcements.isPublished(a)"
              md-colors="{background: 'blue-grey'}">
              Published
            </small>

            <span ng-if="a.title">
              {{a.title}}
            </span>

            <span ng-if="a.preview">
              {{a.preview.title}}
            </span>
          </span>
        </md-card-title-text>
      </md-card-title>

      <md-card-content>
        <p
          class="md-body-2"
          md-colors="{color: 'accent'}"
          ng-if="!$ctrl.Announcements.isPublished(a)">
          Not yet published
        </p>

        <p
          ng-if="template"
          class="md-body-1">
          <span md-colors="{color: 'blue-grey-700'}">
            Template:
          </span>
          <span>{{template.shortname}}</span>
        </p>

        <p
          ng-if="a.template_data"
          class="md-body-1">
          <span md-colors="{color: 'blue-grey-700'}">
            Template data:
          </span>
          <span>{{a.template_data | json}}</span>
        </p>

        <br ng-if="template" />

        <div
          class="md-body-1"
          md-colors="{background: '{{a.colour}}-100'}"
          layout-padding>
          <div ng-if="a.text" ng-bind-html='a.text | simpleFormat'></div>
          <div ng-if="a.preview" ng-bind-html='a.preview.on_hub'></div>
        </div>

        <br />

        <p class="md-body-1">
          <span md-colors="{color: 'blue-grey-700'}">
            Publish at:
          </span>
          <span>{{a.publish_at | date:'EEE MMM d y HH:mm UTC':'UTC'}}</span>
          (<strong><span am-time-ago="a.publish_at" md-colors="{color: 'accent'}"></span></strong>)
        </p>

        <p class="md-body-1">
          <span md-colors="{color: 'blue-grey-700'}">
            Deliver to:
          </span>
          <span class="indented none-text" ng-if="!$ctrl.Announcements.hasDeliveryTargets(a)">
            <br />
            No delivery targets specified for this announcement
          </span>
          <span class="indented" ng-if="a.deliver_to.hub_users.length > 0">
            <br />
            Hub users = {{a.deliver_to.hub_users}}
          </span>
          <span class="indented" ng-if="a.deliver_to.contact_lists.length > 0">
            <br />
            Contact lists = {{a.deliver_to.contact_lists.join(', ')}}
          </span>
          <span class="indented" ng-if="a.deliver_to.slack_channels.length > 0">
            <br />
            Slack channels = {{a.deliver_to.slack_channels.join(', ')}}
          </span>
        </p>

        <p class="md-body-1">
          <span md-colors="{color: 'blue-grey-700'}">
            Status:
          </span>
          {{a.status}}
        </p>

        <p class="md-body-1">
          <span md-colors="{color: 'blue-grey-700'}">
            Created at:
          </span>
          <span>{{a.created_at | date:'EEE MMM d y HH:mm UTC':'UTC'}}</span>
          <span class="separator">|</span>
          <span md-colors="{color: 'blue-grey-700'}">
            Updated at:
          </span>
          <span>{{a.updated_at | date:'EEE MMM d y HH:mm UTC':'UTC'}}</span>
        </p>
      </md-card-content>

      <md-card-actions layout="row" layout-align="start center">
        <md-button
          ng-if="$ctrl.isEditable(a)"
          class="md-primary"
          aria-label="Edit this announcement"
          ui-sref="announcements.editor.edit({id: a.id})">
          Edit
        </md-button>
        <md-button
          ng-if="a.preview"
          aria-label="Preview the output for this announcement"
          ng-click="$ctrl.preview(a, $event)">
          Full Preview
        </md-button>
        <md-button
          ng-disabled="$ctrl.processing"
          ng-if="!$ctrl.Announcements.isPublished(a)"
          aria-label="Publish this announcement now"
          ng-click="$ctrl.publish(a, $event)">
          Publish
        </md-button>
        <md-button
          ng-disabled="$ctrl.processing"
          ng-if="$ctrl.Announcements.isPublished(a)"
          aria-label="Resend this announcement now"
          ng-click="$ctrl.resend(a, $event)">
          Resend reminder
        </md-button>
        <md-button
          ng-if="a.is_global && !a.is_sticky"
          ng-disabled="$ctrl.processing"
          aria-label="Mark this announcement as sticky"
          ng-click="$ctrl.markSticky(a)">
          Mark sticky
        </md-button>
        <md-button
          ng-if="a.is_global && a.is_sticky"
          ng-disabled="$ctrl.processing"
          aria-label="Unmark this announcement as sticky"
          ng-click="$ctrl.unmarkSticky(a)">
          Unmark sticky
        </md-button>
        <md-button
          ng-disabled="$ctrl.processing"
          aria-label="Delete this announcement"
          ng-click="$ctrl.deleteAnnouncement(a, $event)">
          Delete
        </md-button>
      </md-card-actions>
    </md-card>

  </md-content>
</div>
