<div class="announcements-editor-form">
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <h3>
        <span ng-if="$ctrl.isNew">New Announcement</span>
        <span ng-if="!$ctrl.isNew">Edit Announcement</span>
      </h3>
    </div>
  </md-toolbar>

  <loading-indicator loading="$ctrl.loading || $ctrl.saving"></loading-indicator>

  <md-content layout-padding ng-if="$ctrl.ready && !$ctrl.loading">

    <div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="md-whiteframe-z2" layout-padding>
      <md-content>
        <form name="$ctrl.announcementForm" role="form" ng-submit="$ctrl.createOrUpdate()" ng-if="$ctrl.announcement">

          <md-input-container class="md-block">
            <label for="level">Level:</label>
            <md-select
              name="level"
              ng-model="$ctrl.announcement.level"
              md-colors="{background: '{{$ctrl.colours[$ctrl.announcement.level]}}'}"
              aria-label="Set a level for this announcement">
              <md-option
                ng-repeat="l in $ctrl.levels"
                md-colors="::{background: '{{$ctrl.colours[l]}}'}"
                md-colors-watch="false"
                ng-value="l">
                {{l}}
              </md-option>
            </md-select>
          </md-input-container>

          <br />

          <md-input-container class="md-block" ng-if="$ctrl.AnnouncementTemplates.all.length > 0">
            <label for="original_template_id">Use a template:</label>
            <md-select
              name="original_template_id"
              multiple="false"
              ng-model="$ctrl.announcement.original_template_id"
              ng-change="$ctrl.templateSelectChange()"
              aria-label="Optionally use a template for this announcement">
              <md-option ng-if="$ctrl.isNew" ng-value="">none</md-option>
              <md-option ng-repeat="t in $ctrl.AnnouncementTemplates.all track by t.id" ng-value="t.id">
                <strong>{{t.shortname}}</strong>
                <span ng-if="t.description">({{t.description}})</span>
              </md-option>
            </md-select>
          </md-input-container>

          <br />

          <!-- Using a template -->
          <fieldset ng-if="$ctrl.selectedTemplate">
            <legend>
              Data required for template
            </legend>

            <ng-form name="$ctrl.templateDataForm" role="form">
              <form-field
                ng-repeat="field in $ctrl.selectedTemplate.spec.fields track by field.id"
                spec="field"
                value="$ctrl.announcement.template_data[field.id]",
                form="$ctrl.form">
              </form-field>

              <div layout="row" layout-align="center center">
                <md-button
                  class="md-accent md-raised"
                  aria-label="Preview the output for this announcement"
                  ng-click="$ctrl.preview($event)"
                  ng-disabled="$ctrl.templateDataForm.$invalid">
                  Preview
                </md-button>
              </div>
            </ng-form>
          </fieldset>

          <!-- Provide content -->
          <fieldset ng-if="!$ctrl.selectedTemplate">
            <legend>
              Announcement content
            </legend>

            <md-input-container class="md-block">
              <label for="title">Title:</label>
              <input
                name="title"
                ng-model="$ctrl.announcement.title"
                required
                placeholder="A title for this announcement – e.g. 'Service foo being upgraded on 23rd April'"
                aria-label="Set a title for this announcement">
              <div ng-messages="$ctrl.announcementForm.title.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>

            <md-input-container class="md-block">
              <label for="text">Text:</label>
              <textarea
                name="text"
                ng-model="$ctrl.announcement.text"
                rows="10"
                required
                aria-label="Set a text for this announcement"
                md-select-on-focus>
              </textarea>
              <div ng-messages="$ctrl.announcementForm.text.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
          </fieldset>

          <br />
          <br />

          <fieldset>
            <legend>
              Publish at (i.e. when to go 'live')
            </legend>

            <md-input-container class="md-block">
              <input
                class="md-input"
                type="text"
                name="publish_at"
                ng-model="$ctrl.announcement.publish_at"
                required
                mdc-datetime-picker
                date="true"
                time="true"
                show-todays-date
                week-start="1"
                format="YYYY-MM-DDTHH:mm:ssZ"
                aria-label="A datetime for when this announcement should be published">
              <div ng-messages="$ctrl.announcementForm.publish_at.$error">
                <div ng-message="required">This is required.</div>
              </div>
              <p
                class="md-body-1"
                md-colors="{color: 'accent'}"
                ng-if="$ctrl.announcement.publish_at"
                style="font-weight: bold">
                = <span am-time-ago="$ctrl.announcement.publish_at"></span>
              </p>
            </md-input-container>

            <div layout-padding>
              <p class="md-body-1" md-colors="::{background: 'accent-50'}">
                <strong>Important:</strong>
                announcements cannot be updated after being published
              </p>
            </div>
          </fieldset>

          <br />
          <br />

          <fieldset>
            <legend>
              Announcements can be shown in the hub…
            </legend>

            <md-input-container class="md-block">
              <md-checkbox
                name="is_global"
                ng-model="$ctrl.announcement.is_global"
                aria-label="Is this announcement a global one (i.e. visible to everyone in the hub)?">
                Global? (visible to everyone on the hub)
              </md-checkbox>
            </md-input-container>

            <md-input-container class="md-block">
              <md-checkbox
                name="is_sticky"
                ng-disabled="!$ctrl.announcement.is_global"
                ng-model="$ctrl.announcement.is_sticky"
                aria-label="Is this announcement a sticky one (i.e. pinned to the top of the hub)?">
                Sticky? (pinned to the top of the sidebar)
              </md-checkbox>
            </md-input-container>
          </fieldset>

          <br />
          <br />

          <fieldset>
            <legend>
              … and announcements can be delivered outside of the hub
            </legend>

            <md-input-container class="md-block">
              <label for="hub_users">Hub users to send emails to (optional):</label>
              <md-select
                name="hub_users"
                multiple="false"
                ng-model="$ctrl.announcement.deliver_to.hub_users"
                aria-label="Specify which set of hub users to send emails to">
                <md-option ng-value="">none</md-option>
                <md-option ng-value="'all'">all</md-option>
              </md-select>
            </md-input-container>

            <br />

            <md-input-container class="md-block">
              <label for="contact_lists">Contact lists to send emails to (optional):</label>
              <md-select
                name="contact_lists"
                multiple="true"
                ng-model="$ctrl.announcement.deliver_to.contact_lists"
                aria-label="Specify which contact lists to send emails to">
                <md-option ng-repeat="l in $ctrl.contactLists" ng-value="l.id">{{l.id}}</md-option>
              </md-select>
            </md-input-container>

            <br />

            <md-input-container class="md-block hide-error-spacer">
              <h4 class="md-body-1">Slack channels (optional):</h4>
              <md-chips
                ng-model="$ctrl.announcement.deliver_to.slack_channels"
                md-separator-keys="$ctrl.customKeys"
                md-transform-chip="$ctrl.processSlackChannelName($chip)"
                md-add-on-blur="true">
              </md-chips>
              <p class="md-body-2">
                Make sure to press &lt;Enter&gt; or , or ; to add an entry to the list
              </p>
            </md-input-container>
          </fieldset>

          <br />
          <br />

          <div>
            <md-button
              type="submit"
              class="md-primary"
              ng-disabled="$ctrl.saving || $ctrl.announcementForm.$invalid"
              ng-class="{'md-raised': ($ctrl.announcementForm.$dirty && $ctrl.announcementForm.$valid) }"
              aria-label="Save announcement">
              <span ng-if="$ctrl.isNew">Create</span>
              <span ng-if="!$ctrl.isNew">Update</span>
            </md-button>
            <md-button ui-sref="announcements.editor.list" ng-disabled="$ctrl.saving">Cancel</md-button>
          </div>
      </md-content>
    </div>

  </md-content>
</div>
