<div class="contact-lists-form">
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <h3>
        <span ng-if="$ctrl.isNew">New Contact List</span>
        <span ng-if="!$ctrl.isNew">Edit Contact List</span>
      </h3>
    </div>
  </md-toolbar>

  <loading-indicator loading="$ctrl.loading || $ctrl.saving"></loading-indicator>

  <md-content layout-padding ng-if="!$ctrl.loading">

    <div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="md-whiteframe-z2" layout-padding>

      <md-content>
        <form name="$ctrl.contactListForm" role="form" ng-submit="$ctrl.createOrUpdate()">

          <md-input-container class="md-block">
            <label for="id">Unique ID:</label>
            <input
              name="id"
              ng-model="$ctrl.contactList.id"
              ng-pattern="$ctrl.fieldIdRegex"
              ng-disabled="!$ctrl.isNew"
              required
              placeholder="Only letters, underscores and dashes allowed"
              autofocus>
            <div ng-messages="$ctrl.contactListForm.id.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="pattern">Only letters, underscores and dashes allowed, and should start with a letter.</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <label for="emailAddresses">Email addresses:</label>
            <textarea
              name="emailAddresses"
              ng-model="$ctrl.contactList.emailAddressesString"
              rows="10"
              md-select-on-focus>
            </textarea>
            <p class="md-body-1" md-colors="{background: 'accent-50'}">
              Specify one email address per line
            </p>
          </md-input-container>

          <div>
            <md-button
              type="submit"
              class="md-primary"
              ng-disabled="$ctrl.saving || !$ctrl.contactListForm.$valid"
              ng-class="{'md-raised': ($ctrl.contactListForm.$dirty && $ctrl.contactListForm.$valid) }"
              aria-label="Save contact list">
              <span ng-if="$ctrl.isNew">Create</span>
              <span ng-if="!$ctrl.isNew">Update</span>
            </md-button>
            <md-button ui-sref="contact-lists.list" ng-disabled="$ctrl.saving">Cancel</md-button>
          </div>

        </form>
      </md-content>
    </div>

  </md-content>

</div>
