# ----- FROM .gitignore -----

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore Byebug command history file.
.byebug_history

.env.local
vendor
pgdata

# -----


# ----- Docker specific ignores -----

.git
.env
.env.test
.ruby-version
.rspec
.gitignore
spec
bin/postgres
